html {
    scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Roboto Condensed", sans-serif !important;
}
img.logo {
    height: 55px;
}
img.banner-graph {
    width: 100%;
}
header {
    background: url(../images/banner-bg.png);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #e7e7e700;
}
header {
    background: url(../images/banner-bg.png) no-repeat;
    background-size: cover;
    background-position: top;
}
.navbar-collapse {
    float: right !important;
    text-align: right;
}
.navbar-fixed-top {
    margin: 0;
}
.navbar-nav {
    float: right;
}
.navbar-nav .nav-link {
    color: #575757;
    font-weight: 400;
    font-size: 15px;
}
.navbar-nav li.nav-item.brochure-btn a.nav-link:hover {
    background: #f56407;
    color: #fff;
    border: 1px solid #f56407;
    transition: 0.5s;
    transition-timing-function: ease-out;
}
.navbar-nav li.nav-item.brochure-btn a.nav-link {
    border: 1px solid #000;
    border-radius: 6px;
    padding: 9px 20px;
    font-weight: 400;
    transition-timing-function: ease-in;
    transition: 0.5s;
}
header.header.innerpage-menu .navbar-default {
    background-color: #e3f1dc;
    border: none;
    min-height: 75px;
}
.container {
    max-width: 1170px;
}
.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    background-color: #f56407;
    text-decoration: none;
}
.banner ul li span {
    background: #f56408;
    padding: 14px 10px;
    border-radius: 40px;
    border: 6px solid #e3f1dc;
    color: #fff;
    font-size: 20px;
    margin-right: 2px;
}
.dropdown-menu {
    padding: 0rem 0;
}
.dropdown-toggle::after {
    position: absolute;
    right: 28px;
    margin-top: -3px;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.navbar-nav > li > .dropdown-menu {
    border-radius: 8px;
    border: 0;
}
.navbar-default {
    background-color: #f8f8f800;
    border-color: #e7e7e700;
}
hr.divider {
    border-top: 1px solid #d6d6d6;
}
section.cohortmenu a.navbar-brand {
    display: none;
}
.banner ul {
    padding-top: 30px;
    padding-left: 0;
}
.banner {
    padding-top: 90px;
    padding-bottom: 70px;
}
section.cohortmenu ul.navbar-nav li.nav-item a.nav-link {
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 70px;
    padding: 10px 30px 7px;
    text-align: center;
    min-height: 52px;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    transition-timing-function: ease-in;
    transition: 0.5s;
}
section.cohortmenu ul.navbar-nav li.nav-item a.nav-link:hover {
    background: #f56407;
    color: #fff;
    transition: 0.5s;
    transition-timing-function: ease-out;
}
section.cohortmenu .navbar-nav > li {
    float: none;
    list-style: none;
    padding: 0;
    display: inline-block;
}
section.cohortmenu .navbar-nav {
    float: none;
    margin: 0;
    padding-top: 10px;
    padding-left: 0;
    width: 100%;
    text-align: center;
    margin: auto;
}
section.cohortmenu .navbar-collapse {
    float: none !important;
    text-align: right;
}
.dropdown-item {
    padding: 10px 20px;
    border-bottom: 1px solid #dddc;
    display: block;
    text-align: center;
}
.navbar-brand {
    padding: 6px 15px;
}
section.cohortmenu ul.navbar-nav li.nav-item a.nav-link strong {
    display: block;
    font-weight: 300;
    font-size: 12px;
}
.row.gallery img {
    width: 100%;
}
.row.gallery h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    padding-bottom: 20px;
}
section.company h2 {
    text-align: center;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 15px;
}
section.company img.img-responsive {
    width: 100%;
}
section.company {
    background: #ffffff;
    padding-bottom: 70px;
}
.banner h1 {
    font-size: 34px;
    line-height: 150%;
    padding-top: 15px;
}
.banner ul li {
    display: inline-block;
    padding-right: 32px;
    font-size: 19px;
    font-weight: 400 !important;
}
section.company .col-3 img {
    height: 100px;
}
section.company .col-3 {
    text-align: center;
}
section.company h3 {
    font-size: 20px;
    padding-top: 5px;
}
section.program-participants h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
section.company p {
    padding-bottom: 0;
    margin: 0;
    color: #636363;
    font-weight: 300;
    font-size: 15px;
}
.careers-box-sec img {
    height: 80px;
}
.participants-box {
    background: #fff;
    padding: 20px 10px 20px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 0 13px 0 #0000001a;
    word-wrap: break-word;


}
.participants-box img {
    height: 70px;
}
.participants-box h3 {
    font-size: 22px;
    padding-top: 20px;
    margin-bottom: 2px;
    margin-top: 10px;
}
footer {
    padding: 20px 1px;
}
footer p {
    margin: 0;
    text-align: center;
}
.participants-box p {
    font-weight: 300;
}
.participants-box p span {
    font-weight: 300;
    font-size: 13px;
    color: #9b9b9a;
    display: inline-block;
}
section.program-participants {
    background: #fdf3e8;
    padding: 60px 0 60px;
    border-top: 0 solid #ddd;
}
section.careers {
    background: #fdf3e8;
    padding-top: 40px;
}
section.careers h2 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
    font-size: 35px;
}
.careers-box-sec {
    text-align: center;
}
.careers-box-sec h3 {
    font-size: 22px;
    padding-top: 10px;
    margin: 0;
}
.careers-box-sec p {
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: #636363;
}
section.cohortmenu {
    padding-bottom: 30px;
    background: linear-gradient(to bottom, white 399px, #fdf3e8 110px);
}
img.program-partner-logo {
    height: 145px;
    position: relative;
    top: 50px;
}
.navbar {
    padding: 0.5rem 0rem;
}
section.cohortmenu .navbar-expand-lg .navbar-nav {
    float: none;
    text-align: center;
    width: 100%;
    flex-direction: inherit;
}
.gallery-continer {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.gallery-continer .slider {
    margin: 0;
}
.gallery-continer .item {
    position: relative;
}
.gallery-continer .item > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
}
.gallery-continer .item img {
    display: block;
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: gray;
    filter: gray;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    opacity: 0.6;
    filter: blur(0.5px);
}
.gallery-continer .slick-center img {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none;
    opacity: 1;
    z-index: 99;
    position: relative;
}
.gallery-continer .slick-prev {
    left: 0;
    margin: 0;
}
.gallery-continer .slick-next {
    right: -18px;
}

/*********************** slick carousel *******************************/
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: transparent;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 70px;
    left: 0;
    display: block;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 330px;
    outline: none !important;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slider-wrapper .item img {
    min-height: 300px;
}
.slick-dots {
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    display: block;
    padding: 25px 0 0;
}
.slick-dots li button {
    position: absolute;
    top: -5px;
    left: -5px;
    border: 0;
    border-radius: 50%;
    display: block;
    opacity: 0;
    cursor: pointer;
}
.slick-dots li {
    cursor: pointer;
    border: 1px solid #cae1e0;
    display: inline-block;
    background: #cae1e0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 7px;
    cursor: pointer;
    position: relative;
}
.slick-dots li.slick-active {
    border-color: #fe6363;
    background: transparent;
}
.slick-dots li.slick-active:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3px 0 0 -3px;
    width: 6px;
    height: 6px;
    background: #fe6363;
    border-radius: 100%;
}

/* Controlls */

.slick-prev,
.slick-next {
    border: 0;
    display: block;
    width: 60px;
    height: 22px;
    position: absolute;
    top: 45%;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    overflow: hidden;
    text-indent: -999px;
    opacity: 0.8;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: transparent;
    outline: transparent !important;
}
.slick-prev:after,
.slick-next:after {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(http://event.usite.pro/img/icon-slider-btn.png) 0 0 no-repeat;
}
.slick-next:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.item.slick-slide.slick-current.slick-active span {
    z-index: 999;
    position: relative;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    background: #f56408a6;
    display: block;
    width: 100%;
    transform: scale(1.6);
    padding: 6px 0;
    bottom: -5px;
    opacity: 1;
}
.slick-initialized .slick-slide span {
    opacity: 0;
}
li.nav-item.dropdown a#navbarDropdownMenuLink {
    text-align: l;
    line-height: 21px;
    padding-right: 40px;
}
.navbar-nav li.nav-item.brochure-btn {
    margin-left: 10px;
}
.dropdown-item {
    padding: 10px 20px;
    color: #777;
    text-decoration: none;
}
.navbar-nav {
    float: right;
    margin: 0;
    padding-top: 10px;
}
.navbar-nav > li {
    float: left;
    list-style: none;
    padding: 10px;
}
section.cohortmenu ul.navbar-nav li.nav-item a.nav-link {
    text-decoration: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    text-decoration: none;
}
.navbar-default .navbar-nav > li > a {
    text-decoration: none;
}

.load_more p {
    cursor: pointer;
    background: #ab8c8c00 !important;
    display: inline-block;
    padding: 10px 30px !important;
    border-radius: 50px;
    border: 1px solid #000;
    color: #000;
    transition-timing-function: ease-in;
    transition: 0.5s;
}
.load_more p:hover {
    color: #fff;
    background: #f56407 !important;
    border: 1px solid #f56407;
    transition: 0.5s;
    transition-timing-function: ease-out;
}
#showLess {
    color: red;
    cursor: pointer;
}
#showLess:hover {
    color: black;
}
.load_more {
    text-align: center;
}
footer {
    background: #f6f6f6;
    padding: 8% 0 4%;
    border-top: 1px solid #cac6c69c;
}
.social-circle li a img {
    height: 25px;
}

.social-circle{
    text-align: center;
}
ul.social-network li {
    display: inline;
    margin: 0;
}
footer h4 {
    color: #030303;
    font-size: 20px;
    font-weight: 500;
}
footer ul {
    padding-left: 0;
    margin-left: 0;
}
footer ul li {
    list-style-type: none;
    text-align: left;
    padding-top: 9px;
    line-height: 140%;
}
footer ul li a,
footer p {
    font-size: 16px;
    color: #596366;
    line-height: 140%;
}
p.cpy-txt {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 30px;
    font-size: 16px;
}
footer hr {
    border-top: 1px solid #b8c5c1;
}
.row.cpy-txt-row {
    padding-top: 20px;
}
img.footer-logo {
    height: 60px;
    padding-bottom: 20px;
}
footer ul li a span {
    font-size: 15px;
    font-weight: 300;
    color: #7d878a;
    display: block;
    line-height: 130%;
}
.ft-cmp {
    padding-left: 50px;
}
footer .col-md-2.ft-menu {
    width: 24.666667%;
}
footer a:hover {
    color: #0056b3;
    text-decoration: underline;
}
/* footer .col-md-2 {
    -ms-flex: 0 0 17.666667%;
    flex: 0 0 17.666667%;
    max-width: 17.666667%;
} */
br.hidden-sm {
    display: none;
}
.m-top15 {
    margin-top: 15px;
}
.footer_subhead {
    font-size: 15px !important;
    font-weight: 600;
    margin-bottom: 5px;
    color: #676363;
}
.footer_subhead span {
    border-bottom: 1px dashed #828282;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0;
}

/* Tab CSS */

@media (min-width: 768px) {
    .panel-heading {
        display: none;
    }
    .panel {
        border: 0;
        box-shadow: none;
    }
    .panel-collapse {
        height: auto;
    }
    .panel-collapse.collapse {
        display: block;
    }
}
@media (max-width: 767px) {
    .tab-content .tab-pane {
        display: block;
    }
    .nav-tabs {
        display: none;
    }
    .panel-title a {
        display: block;
    }
    .panel {
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        margin-top: -2px;
    }
    .tab-pane:first-child .panel {
        border-radius: 5px 5px 0 0;
    }
    .tab-pane:last-child .panel {
        border-radius: 0 0 5px 5px;
    }
}
/* tab custom css */
ul.nav.nav-tabs li a {
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 70px;
    padding: 10px 33px 7px;
    text-align: center;
    min-height: 45px;
    font-size: 17px;
    font-weight: 500;
    /* width: 100%; */
    display: inline-block;
    transition-timing-function: ease-in;
    transition: 0.5s;
    color: #555;
    cursor: pointer !important;
    background: transparent;
}
ul.nav.nav-tabs li span:hover {
    background: #f56407;
    color: #fff;
}
ul.nav.nav-tabs li span {
    cursor: pointer;
    border: 1px solid #ddd;
    margin: 5px;
    line-height: 125%;
    border-radius: 70px;
    padding: 10px 35px 7px;
    text-align: center;
    min-height: 52px;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    transition-timing-function: ease-in;
    transition: 0.5s;
    color: #555;
    width: 100%;
}
ul.nav.nav-tabs li a strong {
    display: block;
    font-weight: 300;
    font-size: 12px;
}
ul.nav.nav-tabs > li > a:focus,
ul.nav.nav-tabs > li > a:hover,
ul.nav.nav-tabs > li > a:hover storng {
    text-decoration: none;
    background-color: #f56407;
    color: #fff;
    border: 1px solid #f56407;
}
.panel {
    background-color: #fff0;
}
.nav-tabs {
    border-bottom: 0 solid #ddd;
    text-align: center;
}
p.viewmore-btn a {
    color: #f56407;
    padding: 5px 12px;
    border-radius: 30px;
    font-size: 12px;
    background: #fff;
    border: 1px solid #f56407;
    text-decoration: none;
    transition: 0.5s;
}
span#show-hidden-menu.intro {
    display: none;
}
p.viewmore-btn a:hover {
    background: #f56407;
    color: #fff;
}
ul.nav.nav-tabs li.other-cohorts-label a {
    line-height: 125%;
}
.nav-tabs > li {
    min-height: 75px;
    width: 14%;
    padding-right: 12px;
    display: inline-block;
    width: auto;
    /* float: none; */
}
.nav .other-cohorts-list {
    display: none;
    transition: 0.5s;
}
span#show-hidden-menu:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    
}

.panel-default > .panel-heading + .panel-collapse > .panel-body h3.heading {
    text-align: center;
    padding-bottom: 25px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body h3.heading strong {
    display: block;
    font-weight: 300;
    font-size: 15px;
    padding-top: 7px;
}
section.applyforcohort img.img-responsive {
    width: 85%;
    border-radius: 10px;
}
section.applyforcohort {
    padding-top: 20px;
}
img.apply-forthecohort {
    height: 90px;
    position: absolute;
    bottom: -70px;
    left: 80px;
}
.participants-box {
    min-height: 310px;
}
.participants-box p span {
    font-weight: 300;
    font-size: 12px;
    color: #9b9b9a;
    display: inline-block;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .topfix {
        display: block !important;
        width: 100%;
        padding: 10px;
        border: 0;
        text-align: center;
        font-size: 20px;
        position: fixed;
        top: 70px !important;
        background: #f56407;
        color: #fff;
        left: 0;
        z-index: 99;
    }
}
