body {
    font-family: 'Roboto Condensed', sans-serif;
}
ul {
    padding-left: 0;
    margin-left: 0;
}
a {
    cursor: pointer !important;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
  /*header css strated*/

header.cd-auto-hide-header {
    background: #f2f5f9;
    padding-top: 6px;
    z-index: 999;
    width: 100%;
    display: inline-block;
    max-width: 100%;
}
nav.navbar.navbar-expand-lg {
    padding-right: 0;
    padding-left: 0;
    width: 95%;
    float: left;
}
.navbar-brand {
    padding-left: 0;
}
ul.navbar-nav li.nav-item {
    font-size: 17px;
    font-weight: 500;
    padding-right: 8px;
    padding-top: 10px;
}
ul.navbar-nav li.nav-item a {
    color: #0a1517;
}
.dropdown-menu1 .dropdown-menu {
    position: absolute;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 10px 0 #ddd;
    border-radius: 5px;
        left: -500px!important;
    width: 1060px!important;
}
.menuleft {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.dropdown-menu1 ul.dropdown-menu li {
    padding: 4px 15px;
    line-height: 140%;
}
.dropdown-menu1 h3 {
    font-size: 17px;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 10px;
    margin-bottom: 12px;
}
.dropdown-menu1 ul.dropdown-menu li a {
    color: #0a1517;
    padding: .20rem 0;
    font-size: 15px;
    line-height: 16px;
}
.dropdown-menu1 ul.dropdown-menu li img {
    float: left;
    height: 45px;
    padding-right: 12px;
    position: relative;
    top: 0px;
    margin-bottom: 10px;
}
.partner-institution {
    font-size: 12px;
    color: #8a8a8a;
    display: block;
    margin-top: 4px;
}
br.visible-sm {
    display: none;
}
ul.navbar-nav li.nav-item {
    font-size: 17px;
    font-weight: 400!important;
    padding-right: 8px;
    padding-top: 10px;
}
ul.navbar-nav li.nav-item.mobmenulink {
    display: none;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.navbar-brand {
    padding: 0px 0px;
  }
.sidenav .nav-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    display: block;
    transition: .3s;
}
.sidenav li.social {
    list-style: none;
}
.sidenav .social {
    margin-left: 20px;
}
.sidenav-socialicon img {
    width: 33px;
    height: auto;
    display: inline;
    margin: 5px;
    float: left;
}
.hamburger-menu {
    display: inline-block;
    float: right;
    margin-top: 0;
    z-index: 111;
    position: relative;
    cursor: pointer;
}
span.hamburger-menu.navbar-toggler {
    position: relative;
    top: 25px;
    cursor: pointer;
}

/*footer css started*/
footer {
    background: #f6f6f6;
    padding: 8% 0 4%;
}
footer h4 {
    color: #030303;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}
img.footer-logo {
    height: 80px;
    padding-bottom: 20px;
}
footer ul li a, footer p {
    font-size: 16px!important;
    color: #596366;
}
footer ul li a span {
    font-size: 15px!important;
    font-weight: 300;
    color: #7d878a;
}
footer .col-md-2 {
    -ms-flex: 0 0 19.666667%;
    flex: 0 0 19.666667%;
    max-width: 19.666667%;
}
footer ul li {
    list-style-type: none;
    text-align: left;
    padding-top: 3px;
}
.ft-cmp {
    padding-left: 50px;
}
.row.cpy-txt-row {
    padding-top: 20px;
}
ul.social-network li {
    display: inline;
    margin: 0 0px;
}
.social-circle li a img {
    height: 30px;
}
ul.dropdown-menu.hybrid {
    width: 370px!important;
    left: -200px!important;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/*header mobile*/
header.cd-auto-hide-header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 0 10px 0 #ddd;
    padding-top: 0;
}
nav.navbar.navbar-expand-lg {
    width: 100%;
    padding-right: 0;
    padding: 0;
    display: block;
}
.navbar-brand {
    padding: 5px 0;
}
nav.navbar.navbar-expand-lg a.navbar-brand img {
    z-index: 999;
    position: relative;
    height: 60px;
}
.navbar-toggler {
    background-color: white;
    border: 1px solid #f75800;
    border-radius: .25rem;
    display: block;
    position: relative;
    float: right;
    top: 15px;
}
header.cd-auto-hide-header .navbar-toggler-icon {
    display: inline-block;
    vertical-align: middle;
    width: .8em!important;
    height: .8em!important;    
    content: "";
    background: url(/misc/TS-Website/TSnew-2019/images/menu-button.svg);
    background-size: 100% 100%;
}
.navbar-collapse {
    padding-top: 16px;
    width: 100%;
    background: #fff;
}
ul.navbar-nav.ml-auto {
    margin-left: 0px !important;
    overflow: auto;
    width: 100%;
    height: 550px;
}
ul.navbar-nav li.nav-item {
    text-align: left;
    padding-top: 5px;
}
.dropdown-menu1 .dropdown-menu {
    position: relative;
    padding: 0;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    left: -1px;
    width: 100%;
}
.menuleft {
    width: 89%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.dropdown-menu1 ul.dropdown-menu li {
    padding: 5px 15px;
    line-height: 140%;
    text-align: left;
}
.dropdown-menu1 ul.dropdown-menu li a {
    text-align: left;
    white-space: inherit;
}
.dropdown-menu1 ul.dropdown-menu li img {
    float: left;
    height: 50px;
    padding-right: 10px;
    position: relative;
    top: -5px;
}
.dropdown-menu1 ul.dropdown-menu li a br {
    display: none;
}
ul.navbar-nav li.nav-item {
    text-align: left;
    padding-top: 5px;
}
ul.navbar-nav li.nav-item.mobmenulink {
    display: block;
}
span.hamburger-menu.navbar-toggler {
    display: none;
}
/*header mobile end*/


footer .col-md-2 {
    -ms-flex: 0 0 19.666667%;
    flex: 0 0 99.666667%;
    max-width: 99.666667%;
}
.ft-cmp {
    padding-left: 15px;
}
  footer h4 {
    color: #030303;
    font-size: 20px;
    font-weight: 500;
    padding-top: 15px;
    text-align: center;
    
}
footer {
    padding: 9% 0 4%;
    text-align: center;
}footer ul li {
   
    text-align: center;
}
.awards-section ul li {
    display: inline-block;
    padding: 0px;
    width: 30%;
    border: 1px solid #ddd;
    margin: 2px 2px;
} 
h2.heading { 
    font-size: 35px;  
 }  
.program-partners h2.heading.pphead{margin-bottom: 30px;  }
section.deep-tech {padding: 14% 0% 14%;}
section.disruptive-technologies {padding: 14% 0% 14%;}
  
.container {
    width: 96%;
    max-width: 96%;
}
  h3.sub_title br {
    display: none;
}
h2.heading.dt {
    margin-bottom: 18%;
}
.dt-cnt p {
    margin-bottom: 0;
}
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
  nav.navbar.navbar-expand-lg {
    padding-right: 0px;
    display: block;
}
.navbar-brand{
      position: relative;
    left: -40%;
}
.navbar-nav{float: none !important;}
.navbar-expand-lg .navbar-toggler{top: 12px;}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
body{overflow-x: hidden;}
.navbar-expand-lg .navbar-nav .nav-link {padding-right: .2rem!important;padding-left: .2rem!important}
h1.main_title {padding: 12% 0 20px;font-size: 52px;}
h3.sub_title br{display: none;}
img.header-right-img {height: 410px;float: left;}
img.header-right-graph {bottom: 105px;height: 340px;}

.dropdown-menu2 ul.dropdown-menu.show { padding-left: 15px; padding-right: 15px; width: 100%; border: none; text-align: left; }
.banner_contain p {
    padding-bottom: 30px;
} 
.navbar-brand {
    padding: 0px 0px;
    }
    span.hamburger-menu.navbar-toggler{top: 80px;}
  .hamburger-menu{margin-top: -51px;margin-right: -20px;}
} 

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
{ 
.navbar-toggler {
    /*background-color: white;*/
    border: 1px solid #f75800;
    border-radius: .25rem;
    display: block;
    position: relative;
    right: 0px;
    float: right;
    top: 0px;
}
.hamburger-menu {
    right: 40px;
    top: 3px;
    border: none !important;

}
  
.banner_contain h3.sub_title{font-size:20px;}
header.cd-auto-hide-header .navbar-toggler-icon {
    display: inline-block;width: 1.5em;height: 1.5em;
    vertical-align: middle;content: "";
    background: url('https://www.talentsprint.com/misc/TS-Website/TSnew-2019/images/menu-button.svg');
    background-size: 100% 100%;}
.navbar-brand {
    
    padding: 5px 0px;
    } 

  ul.navbar-nav li.nav-item {
    text-align: left !important;
}
.navbar-collapse {
    padding-top: 16px;
      padding-right: 0;
} 
/*.dropdown-menu1 .dropdown-menu {left: -368px;}*/
.dropdown-menu1 .dropdown-menu {
    left: 0;
    width: 680px;
}
br.visible-sm {
    display: block;
}
.navbar-nav{  float: left;
    padding-top: 30px;
    width: 100%;}
.nav-link {float: right;}
img.header-right-img {height: 334px;float: left;}
img.header-right-graph {bottom: -80px;
    height: 270px;
    float: right;
    right: 0;}
.ts-platform-features ul li {width: 48%;}


  .sidenav .nav-link {float: none;}
  
nav.navbar.navbar-expand-lg {
      padding-right: 0px;
}
.collapse:not(.show) {
    display: none !important;
}
  header.cd-auto-hide-header {
    background: #ffffff;
    padding-top: 10px;
    position: relative;
    width: 100%;
        z-index: 999;
}
  .banner_contain {
    padding-top: 40px;
    position: relative;
}
  span.hamburger-menu.navbar-toggler {
    display: none;
}
  ul.navbar-nav li.nav-item.mobmenulink {
    display: block;
}
  .nav-link {float: left;}
/*  .companies-bg {
    background: #ff8428;
}*/
  
}


/* iphone landscape*/
@media only screen and (min-device-width: 414px) and (max-device-width: 812px) and (orientation : landscape) {
header.cd-auto-hide-header .navbar-toggler-icon {display: inline-block;width: 1.5em;height: 1.5em;
    vertical-align: middle;content: "";background: url(../images/menu-button.svg);background-size: 100% 100%;}
  .hamburger-menu{display: none}
  .navbar-toggler {
    /*background-color: white;*/
    border: 1px solid #f75800;
    border-radius: .25rem;
}
  ul.navbar-nav li.nav-item {
    text-align: center;
}
.navbar-collapse {
    padding-top: 46px;
      padding: 0px;
} 
.dropdown-menu1 .dropdown-menu {        left: -101px;
    position: relative;
    width: 100%;
    margin-top: 33px;
    box-shadow: none;
    border: none;}
/*.navbar-nav{      float: right;
    overflow: auto;
    width: 100%;
    height: 320px;
}*/
.nav-link {float: left;}

.dt-inner {margin-bottom: 20px;}
p.cpy-txt{padding-top: 0px;}
  .nav-item .visible-on-mobile{display: inline-block;font-size: 12px !important;padding: 6px !important;}

  

  .hamburger-menu {
    right: 0px !important;
    border: none !important;
    margin-top: -70px;

}
  
  .navbar-toggler {
    /*background-color: white;*/
    border: 1px solid #f75800;
    border-radius: .25rem;
    display: block;
    position: relative;
    right: 0px;
        float: right;
    top: 12px;
}
  
  .sidenav .nav-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    display: block;
    transition: 0.3s;
        float: none;
}
  
  .sidenav{padding-top: 60px;}
  .sidenav-socialicon img {
    width: 31px;
    height: auto;
    display: inline;
    margin: 4px;
    float: left;
}
  
nav.navbar.navbar-expand-lg {
    display: block;
  margin-bottom: 0px;
      padding-right: 0px;
} 
.navbar-brand {
    padding: 0px 0px;
  }
header.cd-auto-hide-header {
    background: #ffffff;
    padding-top: 0px;
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 10px 0px #4a4a4a24;
      z-index: 999;
} 
  nav.navbar.navbar-expand-lg a.navbar-brand img {
    height: 55px;
}
span.hamburger-menu.navbar-toggler {
    display: none;
} 
ul.navbar-nav li.nav-item.mobmenulink {
    display: block;
}
.collapse:not(.show) {
    display: none !important;
}
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1100px) and (orientation : portrait) {
    
    .navbar-expand-lg .navbar-toggler {
    display: block;
}
    .navbar-nav {
    float: left;
    padding-top: 30px;
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
   
    list-style-type: none;
}
  .navbar-collapse.collapse.show {
    display: block !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -98px;
    position: relative !important;
    margin-top: 46px;   
}
}
@media only screen and (min-width :1200px) and (max-width :1270px) {

  .partner-inner img {
    height: 88px;
}
  img.header-right-img {
    width: auto;
    height: 550px;
    float: right;
}
  img.header-right-graph {

    bottom: -60px;
    height: 340px;
}
}
@media only screen and (min-width :1280px) and (max-width :1290px) {

  img.header-right-graph {
    position: absolute;
    right: 0;
    bottom: -60px;
    height: 370px;
}
  
  img.header-right-img {
    width: auto;
    height: 560px;
    float: right;
}
}
section.tia-gallery {
    width: 98%;
}
.modal-dialog{max-width: 600px;}
