body{font-family:'Roboto Condensed',sans-serif;overflow-x:hidden}
ul.navbar-nav li.nav-item a{color:#0a1517;padding:10px}
ul.navbar-nav li.nav-item a:hover,ul.navbar-nav li.nav-item a:active{color:#e34e05}
ul.navbar-nav.mr-auto li.nav-item{padding-right:9px}
ul.navbar-nav li.nav-item{font-size:18px;font-weight:400;padding-right:8px;padding-top:10px;display:inline-block}
header.cd-auto-hide-header{position:fixed;background:#fff;padding-top:15px;z-index:999;width:100%;display:inline-block;max-width:100%}
ul.navbar-nav li.nav-item.header-social{padding-top:8px}
ul.navbar-nav.ml-auto{float:right;margin-top:10px}
.navbar-expand-lg .navbar-toggler{display:none}
.navbar-brand{float:left;height:50px;padding:2px 15px;font-size:18px;line-height:20px}
header.cd-auto-hide-header.sticky ul.navbar-nav.ml-auto{margin-top:20px}
.social-circle li a img:hover{transition:.3s;transform:scale(1.1)}
header.cd-auto-hide-header.sticky{position:fixed;top:0;width:80%;z-index:9;min-height:80px;transition:.5s;background:#fff;box-shadow:0 0 11px 1px #9c9c9c7d;padding-top:15px}
.hamburger-menu{display:inline-block;float:right;margin-top:0;z-index:111;position:relative;cursor:pointer}
.cd-auto-hide-header.sticky .hamburger-menu.navbar-toggler{top:20px}
nav.navbar.navbar-expand-lg{padding-right:0;padding-left:0;width:100%;float:left}
nav.navbar.navbar-expand-lg a.navbar-brand img{height:55px}
span.hamburger-menu.navbar-toggler{position:relative;top:25px;cursor:pointer}
.hamburger-menu .navbar-toggler{padding:11px 15px;font-size:3.25rem;line-height:1;background-color:#fff;border:2px solid #ff5722;border-radius:.25rem;position:relative}
.hamburger-menu span.dark-blue-text i{display:block;position:absolute;height:2px;width:70%;border-radius:9px;opacity:1;left:0;margin-left:5px;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out;background:#ff5722}
.hamburger-menu i.fas.fa-bars.fa-1x.a1{top:6px}
.hamburger-menu i.fas.fa-bars.fa-1x.a3{bottom:4px}
.hamburger-menu div#navbarSupportedContent1{width:200px;background:#fff;text-align:right;position:absolute;left:-166px;margin-top:6px}
.dropdown-menu1 .dropdown-menu{position:absolute;padding:10px;border:0;box-shadow:0 0 10px 0 #ddd;border-radius:5px;left:-600px;width:1060px}
.hamburger-menu ul.navbar-nav li.nav-item{padding:2px 30px}
.hamburger-menu ul.navbar-nav{box-shadow:0 0 10px 0 #ddd;border-radius:5px}
.menuleft{width:33%;display:inline-block;vertical-align:top}
.dropdown-menu1 h3{font-size:18px;border-bottom:1px solid #bfbfbf;padding-bottom:10px;margin-bottom:12px;padding-top:15px;font-weight:300}
.dropdown-menu1 ul.dropdown-menu li img{float:left;height:38px;padding-right:12px;position:relative;top:0;margin-bottom:10px}
.dropdown-menu1 ul.dropdown-menu li img.menu-blockchain-logo{margin-bottom:25px}
.dropdown-menu1 ul.dropdown-menu li a{color:#0a1517;padding:2px 0;font-size:17px;line-height:130%;font-weight:300}
.dropdown-menu1 ul.dropdown-menu li{padding:0 15px;line-height:140%}
.dropdown-menu1 .dropdown-item:focus,.dropdown-menu1 .dropdown-item:hover{background:#fff}
footer{background:#fff;padding:1% 0 3%;width:80%;margin:0 10%}
.social-circle li a img{height:30px}
ul.social-network li{display:inline;margin:0}
footer h4{color:#030303;font-size:20px;font-weight:500}
.container{width: 950px;max-width: 950px;}
ul{padding-left:0;margin-left:0}
footer ul li{list-style-type:none;text-align:left;padding-top:9px;line-height:140%}
footer ul li a,footer p{font-size:16px;color:#596366;line-height:140%}
p.cpy-txt{padding-bottom:0;margin-bottom:0;padding-top:0;font-size:16px;text-align:left}
footer hr{border-top:1px solid #b8c5c1}
footer .col-md-2{-ms-flex:0 0 17.666667%;flex:0 0 17.666667%;max-width:17.666667%;float:left}
footer .col-md-2.ft-menu{-ms-flex:0 0 22.666667%;flex:0 0 22.666667%;max-width:22.666667%}
.ft-cmp{padding-left:50px}
br.hidden-sm{display:none}
img.header-right-img{width:auto;height:330px;float:right;position:absolute;top:-13px;left:10px}
h1.main_title{color:#000;font-weight:800;font-size:40px;line-height:120%;padding:6% 0 0}
h3.sub_title{font-weight:400;font-size:20px;line-height:140%;color:#212529;margin-top:10px;padding-right:70px}
.banner_contain p{color:#343f40;font-weight:300;font-size:18px;padding-right:29px;margin-top:6px}
.banner_contain hr{padding:0;width:90%;display:block;border-top:1px solid #eaeaea;float:left;margin-top:10px;margin-left:15px}
img.header-right-graph{position:absolute;right:0;bottom:-30px;height:350px}
.banner_contain{background-image:linear-gradient(to bottom,#f2f5f9,#f2f5f9);background:#fff;padding-top:96px;padding-bottom:6%;background-size:contain;width:80%;margin:0 10%}
img.pp-img{width:90%;margin:auto;padding-top:30px}
h2.heading.pphead span{background:#f15b0d;font-size:20px;padding:10px 30px;border-radius:70px;color:#fff}
h2.heading.wphead span{font-size:18px;padding:3px 18px;border-radius:0;color:#fff;transform:skewX(-10deg);background:#e34e05}
h2.heading.wphead{transform:skewX(-8deg)}
h2.heading.wphead.working-professionals:after{display:none}
h2.heading.pphead{text-align:center;margin-bottom:70px}
section.program-partners{padding:15% 0 3%}
.dt-inner img{width:100%;border-top-left-radius:10px;border-top-right-radius:10px}
.dt-cnt{padding:40px;min-height:190px}
h2.heading.dt span{color:#fff}
.dt-inner{box-shadow:0 9px 10px 0 #4e4e4e3b;border-radius:15px;background:#fff}
.dt-cnt h3{font-size:23px;font-weight:400}
.dt-cnt p{font-weight:300;font-size:18px;color:#4e5859}
section.disruptive-technologies{padding:6% 0;background:#fff url(../images/disruptive-technologies-bg.png)center top no-repeat;background-size:100%;background-position:100% -2%}
img.btm-img{border-bottom-right-radius:10px;border-bottom-left-radius:10px;border-top-left-radius:0;border-top-right-radius:0}
h2.heading{text-align:center;font-size:36px;font-weight:400;margin-bottom:70px;line-height:110%}
h2.heading.pphead:after{display:none}
h2.heading.dt{color:#fff;margin-bottom:8%}
h2.heading.dt:after{background:#fff}
h2.heading span{font-size:20px;font-weight:400;color:#303c3f}
section.deep-tech{padding:4% 0;background:#fff8f4;position:relative}
h2.heading.dt-head{color:#000;margin-bottom:40px}
.deeptech-inner img{height:70px}
.deeptech-inner p{font-size:18px;font-weight:300}
.deeptech-inner h3{font-size:22px;font-weight:400;padding-top:15px}
img.accelrate-img{width:100%;z-index:0;position:relative}
.news-inner{box-shadow:0 0 10px 0 #ddd;border-radius:10px;margin:15px 0;padding:25px 22px 15px;min-height:185px;background:#fff}
img.news-logo{height:33px;padding-top:5px}
.news-inner h4{font-size:19px;line-height:130%;font-weight:400;min-height:80px}
section.news-section{background:#ffebde url(../images/news-bg.png)no-repeat top;background-size:100%;padding:6% 0}
img.awards-sec{width:100%}
.awards-section{padding:6% 0 8%}
.awards-section ul li{display:inline-block;padding:0;width:15%;border:1px solid #ddd;margin:12px 14px}
.awards-section ul li img{height:auto;padding:0;margin:0;width:100%}
.partner-inner{text-align:center}
.partner-inner p:before{content:"";background:url(../images/partners-before.png)no-repeat;bottom:4px;display:block;margin:auto;text-align:center;width:10px;position:relative;height:34px;background-size:90%}
.partner-inner p{padding-top:15px;color:#4e585a;text-transform:uppercase;font-size:14px;font-weight:400}
.partner-inner p span{font-weight:600;font-size:16px}
.partner-inner img{height:68px}
section.program-partners ul li{display:inline-block;padding:18px 20px;text-align:center;width:18%;vertical-align:top}
section.program-partners ul{width:100%;text-align:center}
section.ts-platform h2.heading{text-align:left;margin-bottom:30px}
section.ts-platform h2.heading:after{content:"";background:#e34e05;display:block;width:80px;height:6px;top:7px;margin:0}
.ts-platform-features ul li{width:30%;display:inline-block;font-size:18px;margin-bottom:25px;font-weight:300}
.ts-platform-features ul li img{height:60px;float:left;padding-right:13px;margin-top:-7px}
.platform-sec-right img{height:390px;position:absolute;right:-66px;top:20px}
.platform-bg{position:absolute;bottom:0;right:0;height:760px}
section.ts-platform{padding-top:5%;position:relative;background:#f3faff}
.ts-platform-features{padding:30px 0 60px}
section.ts-platform p{padding-right:100px;font-size:17px;color:#4c5556;font-weight:300;line-height:150%}
section.the-impact{background:#e3ece9;padding:6% 0}
section.the-impact p{text-align:center}
section.accelrate-groth h2.heading{color:#fff;text-align:left}
section.accelrate-groth h2.heading:after{background:#fff;margin:0}
img.footer-logo{height:80px;padding-bottom:20px}
.youtube{width:100%;height:390px;background:#ddd}
#participantVideo button.close{background:#ff5722;color:#fff;font-size:30px;font-weight:700;line-height:0;right:-18px;top:-19px;position:absolute;padding:16px 8px;box-shadow:0 0 11px 0 #00000057;opacity:1}
#participantVideo .modal-dialog{width:80%;max-width:50%}
.news-inner h4 a{color:#212529;text-decoration:none;cursor:pointer;font-weight:300}
a{color:#e34e05;text-decoration:none;background-color:transparent}
.dropdown-menu2 ul.dropdown-menu.show{padding-left:15px;padding-right:15px}
.dropdown-menu2 img{width:23px;height:auto}
.dropdown-menu2 .dropdown-item{padding:5px}
.dropdown-menu2 ul.dropdown-menu.show a.btn.btn-success{color:#fff!important;margin-bottom:10px;border-bottom:1px solid #ccc}
.img-responsive.mobile{display:none}
.the-impact .mobile{display:none}
.nav-item .visible-on-mobile{display:none}
.the-impact .hide-on-mobile{padding-top:30px}
.colleges-benefit{margin-top:80px}
.accelrate-groth ul li{color:#746055;display:inline-block;font-size:16px;padding:5px 15px;margin:5px;border:1px solid #746055;border-radius:30px;text-align:center}
.sidenav{height:100%;width:0;position:fixed;z-index:1000;top:0;right:0;background-color:#fff;overflow-x:hidden;transition:.5s;padding-top:60px}
.social .link{padding:8px 8px 8px 32px;text-decoration:none;font-size:16px;color:#000;display:block;transition:.3s}
.sidenav .social{margin-left:20px}
.sidenav a:hover{color:#e34e05}
.sidenav .nav-link{padding:8px 8px 8px 32px;text-decoration:none;font-size:16px;color:#000;display:block;transition:.3s}
.sidenav .closebtn{position:absolute;top:0;right:25px;font-size:36px;margin-left:50px}
.sidenav-socialicon img{width:33px;height:auto;display:inline;margin:5px;float:left}
h2.heading.wphead.working-professionals{margin-bottom:10px;margin-top:30px}
h2.heading.pphead.young-graduates{margin-bottom:30px;margin-top:10px}
h2.heading.pphead.young-graduates.cr{margin-bottom:30px;margin-top:30px}
img.accelrate-img{margin-top:-170px}
.accelrate-groth h2.heading .ecosystem{z-index:9999;position:relative}
.accelrate-groth h2.heading{position:relative;z-index:1;color:#fff}
.accelrate-groth h2.heading:before{padding-top:50px}
.sidenav li.social{list-style:none}
.program-partners h2.heading.pphead{margin-bottom:30px}
img.mobile{display:none}
.accelrate-groth{padding:6% 0;position:relative}
.companies-bg{position:absolute;top:0;z-index:0;width:100%}
.companies-list{position:relative;width:100%;display:block}
.corporate-sticker{height:46px;position:relative;margin-bottom:16px}
.college-sticker{height:46px;position:relative;margin-bottom:16px}
.companies-bg-mobile{display:none}
span.hamburger-menu.navbar-toggler.mobtog{display:none}
ul.navbar-nav li.nav-item.mobmenulink{display:none}
.navbar-brand{padding-left:0}
.banner_contain{position:relative}
.deep-tech .deeptech-inner{text-align:center}
.partner-institution{font-size:12px;color:#8a8a8a;display:block;margin-top:1px}
header.cd-auto-hide-header.sticky nav.navbar.navbar-expand-lg a.navbar-brand img{height:55px}
header.cd-auto-hide-header.sticky nav.navbar.navbar-expand-lg{padding:0}
header.cd-auto-hide-header.sticky ul.navbar-nav li.nav-item{padding-top:0}
header.cd-auto-hide-header.sticky ul.navbar-nav li.nav-item.header-social{padding-top:5px}
li.nav-item.header-social{position:absolute;top:-2px;right:-51px}
.social-circle li a img{height:25px}
img.rounded-circle{height:90px;border:4px solid #f3f3f3;margin-bottom:10px}
.testimonial-box.col-md-6{box-shadow:1px 1px 1px 1px #ddd;background:#ddd}
.carousel-testimonial-img h5{font-size:18px;font-weight:600}
.testimonial-box{width:44%;float:none;display:inline-block;background:#ffffffeb;margin:20px;box-shadow:0 0 11px 0 #ddd;padding:20px 30px;border-radius:10px;min-height:330px}
.carousel-indicators{bottom:-60px}
section.testimonials-sec{padding:7% 0 8%;background:#f9f9f9 url(../images/testimonial-bg.png)no-repeat;background-size:cover}
p.quote-icon{font-size:170px;line-height:1;color:#e34e05;margin:auto;padding:0;min-height:20px;height:72px}
.carousel-indicators li{background-color:#403636}
p.description{font-size:18px}
.carousel-testimonial-img h5 span{font-size:14px;font-weight:300}
.more-news{margin:40px 0 0}
.more-news a:hover{text-decoration:none;background:#ee621e;color:#fff}
.more-news a{box-shadow:0 0 10px 0 #ddd;border-radius:5px;padding:10px 25px;min-height:200px;background:#e34e05;color:#FFF;font-size:18px;font-weight:400}
br.visible-sm{display:none}
.topbar{background:#f46812;color:#fff;font-size:11px;font-weight:400;padding:7px 50px;text-align:center;position:fixed;top:0;z-index:9999}
.topbar a{background:#fff;padding:2px 15px;border-radius:50px;font-size:11px;color:#f46812;margin-left:5px;text-decoration:none}
.navbar-fixed-top{top:45px}
header.cd-auto-hide-header{background:#fff;width: 80%;margin: 0 10%;}
.dropdown-menu1 ul.dropdown-menu li img.free-sticker-menu{height:14px!important;float:none!important;margin-left:5px;margin-top:-4px;border-radius:3px;margin-bottom:0!important}
ul.footer_li li img.free-sticker-menu{margin-top:0;height:14px!important;float:none!important;margin-left:5px;margin-top:-4px;border-radius:3px;margin-bottom:0!important}
.ipearl_btn{margin-top:-20px;margin-bottom:30px}
.touch_dev .dropdown-menu{display:none!important}
.touch_dev .dropdown-menu.show{display:block!important}
img.ds-ai{height:43px!important;top:-6px!important;padding-right:2px!important}
footer ul li a span{font-size:15px;font-weight:300;color:#7d878a;display:block;line-height:130%}
.dropdown-menu1 ul.dropdown-menu li.empty-list{padding-top:21px}
.menuleft.last-col li.empty-list{padding-left:0}
.dropdown-menu1 li.empty-list h3{margin-left:-20px}
.btn-success{color:#fff;background-color:#28a745;border-color:#28a745;padding:10px 20px}
@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
ul.navbar-nav.ml-auto{margin-left:0!important;overflow:auto;width:100%;height:550px}
}
h4.small-heading{font-size:22px;text-align:center;margin-bottom:40px}
section.program-partners ul li:last-child{font-weight:700;position:relative;top:90px}
img.nps-sticker{height:26px;margin-top:10px}
img#deeptechBottom{position:absolute;width:100%;height:auto;z-index:-99;margin-top:-170px}
img.nps-completion-rate{position:relative;height:35px;top:-30px}
section.deeptech-trends{padding:6% 0;background:#f1f3f2;text-align:center}
section.deeptech-trends .deeptech-inner img{width:90%;height:auto}
section.deeptech-trends .deeptech-inner p a{font-weight:700}
h2 a.program-link{font-size:24px}
img.news-logo.et-logo{height:38px}
img.desktop.companies-list-new{margin-top:50px}
section.deeptalk-sec h2 a.program-link{position:relative;top:80px}
section.deeptalk-sec{padding:6% 0 10%}
img.dt-logo{height:65px;margin-bottom:20px}
img.video-thumb1{width:95%;height:auto}
.carousel-indicators li{width:15px;height:15px;border:1px solid #dcdcdc;border-radius:10px}
.carousel-indicators .active{width:15px;height:15px;background-color:#ff7200;border:1px solid #ff7200}
img.deeptalk-bg{position:absolute;top:0;left:-70px;height:1150px}
h2.heading.dt-heading{text-align:center;font-size:25px}
img.toi-logo{height:50px}
p.explore-cta{margin-top:40px}
p.explore-cta a{background:#02a550;font-size:22px;padding:14px 33px;border-radius:5px;color:#fff;font-weight:400}
p.explore-cta a:hover{text-decoration:none}
.program-card-inner.one{min-height:580px}
.program-card-inner.two{min-height:555px}
.program-card-inner.three{min-height:580px}
.program-card-inner.five{min-height:750px}
.program-card-inner{background:#fff;margin:20px 0;min-height:760px;padding-bottom:10px;position:relative;border-top-right-radius:9px;border-top-left-radius:9px}
.program-card-inner a{text-decoration:none}
.program-card-inner img.innner-head{width:100%;height:auto}
.program_blocks{padding:2px 20px 15px}
.program_title{color:#333;font-size:17px;margin-top:10px;font-weight:300;padding-bottom:7px;min-height:46px}
.program_title-Main{color:#333;font-size:22px;margin-top:0;font-weight:700;padding-bottom:3px}
.program_title-bottom{background:#eaddd3;padding:1px 15px;color:#584747;border-radius:0 50px 50px 0;display:inline-block;font-size:14px;font-weight:500;margin-bottom:7px}
.program_title span{font-size:30px;font-weight:600}
p.duration{color:#000;font-size:16px;display:inline-block;margin-bottom:8px}
p.duration img{margin-right:10px;height:16px;float:inline-block;display:inline-block;margin-bottom:12px;float:left;margin-top:2px}
p.suited{color:#000;font-size:15px;display:inline-block;margin-bottom:15px;font-weight:400}
p.suited img{margin-right:10px;height:16px;float:left;margin-top:4px;margin-bottom:40px}
.program_para{font-size:17px;line-height:1.5;color:#818181;margin-right:15px;font-weight:300}
.list-inline{padding-left:0;list-style:none;margin-bottom:10px}
.list-inline li{color:#000;padding:0;font-size:14px;display:inline-block;width:100%}
.list-inline li img{margin-right:10px;float:left;margin-bottom:4px;height:16px;margin-top:2px}
p.know-cta{margin-top:5px}
p a.know_more.para_link{background:#009e4e;padding:12px 30px;color:#fff;border-radius:7px;position:absolute;bottom:32px}
h4.highlights{font-size:18px;font-weight:700;color:#f36623;padding:4px 0 0}
h4.highlights img{width:70%}
.row1 ul.list-inline.week_block{min-height:115px}
.row2 ul.list-inline.week_block{min-height:90px}
.row3 ul.list-inline.week_block{min-height:105px}
.row4 ul.list-inline.week_block{min-height:110px}
.row5 ul.list-inline.week_block{min-height:161px}
.row2 .top-content-sec{min-height:240px}
.row3 .top-content-sec{min-height:190px}
.row3 .program-card-inner{min-height:560px}
.row4 .top-content-sec{min-height:235px}
.program-card-inner img.innner-head{width:100%;height:auto;border-top-right-radius:9px;border-top-left-radius:9px}
img.ml-logo{height:65px}
.program-card-inner.one.aiml h3.program_title{font-size:17px;font-weight:300;line-height:130%}
p.duration img.full-stack-java{margin-bottom:36px}
.list-inline li img.tick-second{margin-bottom:27px}
h2.program_title-Main span{font-size:12px;color:#fff;background:#f56b29;padding:3px 12px;font-weight:400;position:relative;top:-3px;border-radius:0 50px 50px 0;margin-right:8px}
.program-card-inner.one.one-new{min-height:615px}
h3.program_title.new{min-height:auto}
.row1 .program-card-inner{min-height:545px}
.row4 .program-card-inner{min-height:560px}
.row5 .program-card-inner{min-height:600px!important}
.gallery-title{font-size:36px;color:#42B32F;text-align:center;font-weight:500;margin-bottom:70px}
.gallery-title:after{content:"";position:absolute;width:7.5%;left:46.5%;height:45px;border-bottom:1px solid #5e5e5e}
.filter-button{font-size:18px;border:1px solid #e34e05;border-radius:5px;text-align:center;color:#e34e05;margin-bottom:5px}
.filter-button:hover{font-size:18px;border:1px solid #e34e05;border-radius:5px;text-align:center;color:#fff;background-color:#e34e05}
.btn-default:active .filter-button:active{background-color:#e34e05;color:#fff}
.port-image{width:100%}
.gallery_product{margin-bottom:30px}
.filter-button.active{background:#e34e05;color:#fff}
.compelling-deeptech{padding:4% 0;position:relative;background:#f3f3f3;width:80%;margin:0 10%}
#program{padding:4% 0 0;position:relative;background:#fff;width:80%;margin:0 10%}
#program h2.heading{margin-bottom:30px;text-align:left;font-size:28px}
.compelling-deeptech h2.heading{margin-bottom:20px;text-align:left;font-size:28px}
.tech-space{margin-top:30px;text-align:center}
.community-deeptech{padding:5% 0;position:relative}
.community-deeptech h2.heading{margin-bottom:40px;text-align:center}
.divers img{width:95%;margin-top:20px}
.divers-bottom{margin-top:60px}
.divers-bottom .col-md-4{margin-bottom:25px}
.divers-bottom p{font-size:16px;font-weight:500}
.divers-bottom img{float:left;height:65px;padding-right:15px}
.curated-deeptech{padding:5% 0;position:relative;background:#e0f3ec;text-align:center}
.curated-deeptech .col-md-6 img{width:85px;padding-bottom:10px}
.curated-deeptech h2.heading{margin-bottom:40px}
.continued-inner{margin-top:40px}
.continued-inner .col-md-6{margin-bottom:30px}
.continued-deeptech{padding:4% 0 3%;position:relative}
.continued-deeptech .col-md-6 img{float:left;height:95px;margin-right:15px;background:#fff;border-radius:50px;padding:8px;border:4px solid #0000000f;margin-bottom:12px}
.continued-deeptech h3{margin-top:0}
.continued-deeptech h2.heading{margin-bottom:40px}
.continued-deeptech .continued-inner .col-md-6{margin-top:40px;margin-bottom:30px}
.continued-deeptech .continued-inner .col-md-6 p{width:90%;font-size:18px;font-weight:300}
.career-options{background:url(../images/carrier-stories-bg.png) no-repeat;background-attachment:scroll;background-size:cover;background-position:bottom;padding:4% 0 7%}
.career-options div#myCarousel{padding:15px 30px}
.carousel-indicators{bottom:-30px}
section.rt-bar-section p{font-weight:300;line-height:150%;font-size:18px;padding-top:5px;margin-bottom:10px}
.opportunity-points{font-size:17px}
p.more-stories{font-weight:500!important;font-size:20px!important;padding-right:0;margin-top:56px;text-align:center;padding-bottom:20px}
.career-options h3{padding:20px 30px 10px;font-weight:400;font-size:24px;font-size:24px;line-height:1.1em}
.career-options h4 span{font-size:16px!important;line-height:1.5}
.opportunity-points img{height:110px;background:#fff;border-radius:80px;padding:12px;margin-bottom:25px;box-shadow:1px 5px 5px #0000002e}
p.byline span{font-size:16px}
p.byline{font-size:18px;font-weight:300}
.capstong-project h3{font-size:20px;margin-top:5px}
.capstong-project{background:#fff;padding:25px 32px;border-radius:5px;margin-bottom:20px;box-shadow:0 10px 11px 1px #9c9c9c17}
p.byline strong{font-weight:500;font-size:23px}
.tech-space img.numbers{width:80%}
h1.author img{height:92px;float:left;position:relative;top:-10px}
h1.author{font-size:24px;line-height:100%;color:#000;margin-top:8px;font-weight:500;margin-bottom:0}
h1.author span{font-size:18px;color:#67645e;font-weight:300;line-height:2em}
p.certify-label{font-weight:400;font-size:23px}
p.certify-label span{font-size:15px;color:#de6016}
ul.social-profiles li img{height:28px;margin-right:12px;top:-6px;position:relative}
ul.social-profiles li{display:inline-block;float:left;font-size:18px}
ul.social-profiles li:first-child{margin-right:12px}
ul.social-profiles{padding-left:12%;float:right;margin-top:20px}
p.byline-about{font-size:18px;font-weight:300}
section#platform hr{margin:40px 0;border-top:1px solid #cacaca}
.timeline{width:100%;padding:0;position:relative}
.timeline:before{content:'';position:absolute;top:4px;left:calc(0% + 12px);bottom:230px;width:4px;background:#dcdcdc}
.timeline:after{content:"";display:table;clear:both}
.about p.special-one{font-size:18px;font-weight:300;line-height:150%;padding-right:20px;color:#ee4d42}
.entry{clear:both;text-align:left;position:relative}
.entry .title{margin-bottom:.5em;float:left;width:1%;padding-right:10px;text-align:right;position:relative}
.entry .title:before{content:'';position:absolute;width:18px;height:18px;border:1px solid #394d69;background-color:#f3f3f3;border-radius:100%;top:15%;right:-12px;z-index:8}
.entry .title h3{margin:0;font-size:120%;font-weight:600;font-size:16px;color:#0080cb}
.entry .title p{margin:0;font-size:100%}
.entry .body{margin:0 0 15px;float:right;width:95%;padding:0 0 20px}
.entry .body p{line-height:1.4em;margin-bottom:0;font-size:17px;font-weight:300}
.entry .body p:first-child{margin-top:0;font-weight:400}
.entry .body ul{color:#aaa;padding-left:0;list-style-type:none}
.timeline{margin-top:35px}
.entry .body h3{font-size:22px;padding-top:0;margin-top:0;color:#212121;padding-bottom:0;margin-bottom:3px;line-height:1.4;margin-top:-9px}
.entry .body p.timeline-label{background:#f2833c;display:inline-block;padding:3px 12px 3px 16px;border-radius:25px;color:#fff;margin-bottom:25px;font-size:13px}
.entry .body p.timeline-label:before{content:'';position:absolute;left:44px;bottom:0;width:0;height:0;border-right:11px solid #f2833c;border-top:11px solid transparent;border-bottom:11px solid transparent;top:1px}
img.about-pgm-img{height:auto;margin-top:20px;width:100%}
img.partner-logo{height:86px}
img.certificate{height:600px;margin:auto}
img.program-partner-logo{height:130px}
.linkedin{background:#a1a6ad}
.partner-section{padding:20px 0 10px}
.partner-section img{height:68px;margin-left:24px}
.partner-section h3{font-size:22px;line-height:1.3;margin-top:0;color:#585858}
.partner-section h3 span{font-size:15px;background:#e8e8e8;padding:2px 12px;border-radius:50px;color:#484f54;font-weight:300;line-height:2em}
.header-design{background:url(../images/header-graphic.jpg);padding:55px 0 0;background-size:cover}
.header-design img{height:132px;float:left;position:relative;top:0;margin-bottom:-46px;border:6px solid #fff}
img.partner-logo{height:62px;position:absolute;right:0}
.col-md-6.social-icons p{display:inline-block;text-align:left;float:none;padding-right:10px;padding-top:5px}
footer .container{border-top:1px solid #ddd;padding-top:50px;margin-top:40px}
.a2a_kit.a2a_kit_size_32.a2a_default_style{float:inherit}
.social-icons-sec{float:right;width:100%;text-align:right!important}
.capstong-project ol li{font-size:16px;line-height:2}
.social-icons-sec.menu-social a.a2a_button_linkedin {
       /* background: #017bb5; */
    padding: 0;
    color: #fff;
    vertical-align: middle;
    border-radius: 4px;
    position: relative;
    font-size: 15px;
    border: 0px solid #2366b4;
}
img.linkedinlogo {
    height: 40px;
}
.social-icons-sec.menu-social .a2a_default_style .a2a_img_text {
    margin-right: 4px;
    position: absolute;
    top: 5px;
}
.social-icons-sec.menu-social p {
    display: inline-block;
    float: left;
   padding-right: 12px;
    padding-top: 6px;
    font-size: 16px;
}
.social-icons-sec.menu-social {
    width: 56%;
    padding-top: 7px;
}