@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.container{max-width:100%;width:100%}
img.apply-forthecohort{height:90px;position:absolute;bottom:-70px;left:10px}
.panel-title{font-size:21px;font-weight:600}
.panel-title strong{font-weight:300;font-size:18px}
footer .col-md-2.ft-menu{width:100%;text-align:center}
.panel-heading{padding:16px 15px}
footer h4{padding-top:30px;text-align:center}
.panel-title a{text-decoration:none}
footer ul li{text-align:center}
.ft-cmp{padding-left:15px}
footer{text-align:center}
.careers-box-sec{padding-bottom:25px}
section.cohortmenu a.navbar-brand{display:block}
.navbar-default{background-color:#fff;border-color:#e7e7e7;border:0;padding:10px 0;box-shadow:0 0 11px 0 #00000040}
.navbar-brand{padding:0}
.banner ul li:first-child{padding-bottom:42px;line-height:140%}
.banner h1{padding-top:0}
img.program-partner-logo{height:160px;position:relative;top:40px;padding-bottom:40px}
.banner h1 br{display:none}
.navbar-toggle{margin-right:0;background-color:#f56407;background-image:none;border:1px solid #f56407}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff}
.navbar-nav>li{float:none;list-style:none;padding:10px;text-align:center;width:100%}
.navbar-default .navbar-collapse,.navbar-default .navbar-form{width:100%;border:0}
.navbar-nav{float:none;padding:0}
.item.slick-slide.slick-current.slick-active span{bottom:-14px}
section.company h2{margin:0}
section.program-participants h2{padding-top:40px;margin:0}
.participants-box p span{display:block}
section.program-participants{padding:40px 0 50px}
.gallery h2,section.company h2,section.program-participants h2{font-size:35px}
section.cohortmenu .navbar-collapse{float:none!important;text-align:right;position:absolute;min-height:310px;z-index:99;background:#fff;left:0;box-shadow:0 9px 13px -5px #00000030}
hr{border-top:1px solid #cec9c9}
section.cohortmenu .navbar-brand{padding:17px 0;font-size:22px;color:#000}
section.cohortmenu .navbar-nav>li{width:49%;vertical-align:top}
section.cohortmenu ul.navbar-nav li.nav-item a.nav-link{padding:10px 9px 7px;width:98%}
section.cohortmenu .navbar-nav>li.nav-item.dropdown.open{width:100%}
}
/* ipad landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
.banner h1 br{display:none}
header.header.innerpage-menu .navbar-default{background-color:#e3f1dc;border-color:#e3f1dc}
section.cohortmenu a.navbar-brand{display:none}
section.cohortmenu ul.navbar-nav li.nav-item a.nav-link{padding:9px 22px 7px;font-size:15px}
.item.slick-slide.slick-current.slick-active span{bottom:-10px}
.participants-box h3{padding-top:0}
}
/* ipad portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
{
.navbar-nav{float:right;margin:0;padding-top:10px;padding-left:0}
img.banner-graph{width:51%;float:right;margin-top:-125px}
.navbar-nav>li{padding:10px 3px}
.navbar-nav li.nav-item.brochure-btn a.nav-link{padding:9px 7px}
section.cohortmenu .navbar-default .navbar-brand{display:none}
section.program-participants .col-md-3{width:49%;float:left;min-height:250px}
.participants-box p span{display:none}
footer{text-align:center}
footer ul li{list-style-type:none;text-align:center;padding-top:9px;line-height:140%}
.ft-cmp{padding-left:20px}
footer .col-md-2.ft-menu{width:100%;text-align:center}
}
/* iphone landscape*/
@media only screen and (min-device-width: 414px) and (max-device-width: 812px) and (orientation : landscape) {
img.banner-graph{width:45%;position:absolute;right:0;top:-200px}
.navbar-nav{padding-left:0}
img.logo{height:48px}
.navbar-nav>li{padding:4px}
.navbar-nav li.nav-item.brochure-btn a.nav-link{padding:9px 10px;font-weight:300}
.navbar-default .navbar-nav>li>a{font-weight:300;font-size:13px}
.banner h1{font-size:30px;line-height:150%}
img.program-partner-logo{height:110px;position:relative;top:35px}
section.cohortmenu ul.navbar-nav li.nav-item a.nav-link{padding:10px 25px 7px;font-size:16px}
.navbar-default{background:#e3f1dc;border-color:#e3f1dc}
section.cohortmenu .navbar-default{background:#f8fbf600;border-color:#e3f1dc}
section.cohortmenu a.navbar-brand{display:none}
footer{text-align:center}
footer ul li{list-style-type:none;text-align:center;padding-top:9px;line-height:140%}
.ft-cmp{padding-left:20px}
footer .col-md-2.ft-menu{width:100%;text-align:center}
}
@media only screen and (min-width :1800px) {
header {background-position: 1px;padding-bottom: 71px;}
}

