@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
header.cd-auto-hide-header .navbar-toggler-icon{display:inline-block;width:.8em!important;height:.8em!important;vertical-align:middle;content:"";background:url(/misc/TS-Website/TSnew-2019/images/menu-button.svg);background-size:100% 100%}
h1.main_title{font-size:30px;padding:8% 0 10px}
.platform-sec-right img{height:auto;position:relative;right:0;bottom:0;width:90%}
.companies-bg-mobile{position:absolute;top:0;z-index:0;width:100%;display:block}
.companies-bg{display:none}
h4.small-heading{font-size:20px}
.deeptech-inner p{font-size:15px;font-weight:300;margin-bottom:24px}
.accelrate-groth .container{width:100%}
.banner_contain p{padding-right:0}
section.program-partners{padding:11% 0 2%}
h2.heading.pphead span,h2.heading.wphead span{padding:8px 13px 6px;font-size:17px}
h2.heading.wphead.working-professionals{margin-bottom:0}
h2.heading.pphead.young-graduates{margin-bottom:3px}
.banner_contain hr{margin:20px 0}
.ts-platform-features ul li{width:49%;font-size:15px;margin-bottom:25px;vertical-align:top}
.ts-platform-features ul li img{height:60px;float:none;padding-right:0;display:block}
.ts-platform-features{padding:30px 0 0}
section.ts-platform p{padding-right:0}
.dt-inner{box-shadow:0 0 10px 0 #4e4e4e3b;margin-bottom:20px}
section.disruptive-technologies{background-size:cover}
h2.heading span{display:block;line-height:140%;padding-top:12px;font-size:19px}
footer .col-md-2{-ms-flex:0 0 19.666667%;flex:0 0 99.666667%;max-width:99.666667%}
footer .col-md-2.ft-menu{-ms-flex:0 0 99.666667%;flex:0 0 99.666667%;max-width:99.666667%}
.ft-cmp{padding-left:15px}
footer h4{color:#030303;font-size:20px;font-weight:500;padding-top:15px}
footer{padding:9% 0 4%;text-align:center;    width: 100%;
    margin: 0;}
.header-design{background:url(../images/header-graphic-mob.jpg);padding: 55px 0 45px;background-size: cover;}
footer ul li{text-align:center}
.awards-section ul li{display:inline-block;padding:0;width:30%;border:1px solid #ddd;margin:2px}
h2.heading{font-size:32px}
.program-partners h2.heading.pphead{margin-bottom:30px}
section.deep-tech{padding:14% 0}
section.disruptive-technologies{padding:14% 0}
.container{width:96%;max-width:96%}
h3.sub_title br{display:none}
.navbar-brand{padding:5px 0}
h3.sub_title{font-size:22px;line-height:140%}
img.header-right-img{width:auto;height:194px;float:none;position:relative;margin-top:0;top:30px;left:-6px}
h4.highlights img{width:60%;margin-left:10px}
img.header-right-graph{position:absolute;right:0;bottom:-40px;height:200px}
#participantVideo .modal-dialog{width:99%;max-width:94%}
#participantVideo button.close{right:0;top:0;z-index:11}
section.program-partners ul li{display:inline-block;padding:5px 8px;text-align:center;width:49%;vertical-align:top}
.partner-inner img{height:60px}
.deeptech-inner{text-align:center}
.deeptech-inner p{padding-right:0}
.deeptech-inner img{height:90px}
h2.heading.dt{margin-bottom:18%}
.dt-cnt p{margin-bottom:0}
section.the-impact{padding:14% 0}
section.accelrate-groth{padding:10% 0 0}
.news-inner h4{font-size:18px}
.awards-section{padding:14% 0}
section.news-section{padding:14% 0}
nav.navbar.navbar-expand-lg{padding:0;display:block}
header.cd-auto-hide-header .navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:url(/misc/TS-Website/TSnew-2019/images/menu-button.svg) no-repeat;background-size:130%;height:21px!important}
.hamburger-menu{right:0!important;top:9px;border:none!important;margin-top:-64px}
.navbar-toggler{background-color:#fff;border:1px solid #f75800;border-radius:.25rem;display:block;position:relative;float:right;top:15px;display:block!important}
header.cd-auto-hide-header.sticky{min-height:70px;padding-top:0;top:0;width:100%}
header.cd-auto-hide-header.sticky ul.navbar-nav li.nav-item{padding-top:5px}
ul.navbar-nav li.nav-item{text-align:left;padding-top:5px}
.navbar-collapse{padding-top:16px;width:100%;background:#fff}
.navbar-collapse.collapse.show{display:flex!important;padding:9px 2px}
header.cd-auto-hide-header{padding-top:0;background:#fff;position:fixed;top:0;width:100%;z-index:9999;box-shadow:0 0 10px 0 #ddd;margin:0}
header.cd-auto-hide-header.sticky nav.navbar.navbar-expand-lg a.navbar-brand img{height:40px}
.banner_contain{padding-top:70px}
.partner-section h3{margin-top:30px;font-size:18px}
.menuleft{width:98%;display:inline-block;vertical-align:top;text-align:center}
.dropdown-menu1 .dropdown-menu{position:relative;padding:0;border:0;box-shadow:none;border-radius:5px;left:-1px;width:100%}
.dropdown-menu1 ul.dropdown-menu li a br{display:none}
.dropdown-menu1 ul.dropdown-menu li a{text-align:left;white-space:inherit;font-size:16px}
.dropdown-menu1 ul.dropdown-menu li{padding:5px 15px;line-height:140%;text-align:left}
.dropdown-menu1 ul.dropdown-menu li img{float:left;height:40px;padding-right:5px;position:relative;top:-2px}
.partner-inner br{display:none}
section#impact img{width:100%!important}
.dt-cnt{padding:30px;min-height:190px}
.dropdown-menu2 ul.dropdown-menu.show{padding-left:15px;padding-right:15px;width:100%;border:0}
.nav-item .visible-on-mobile{display:inline-block;font-size:12px!important;padding:6px!important}
.the-impact .hide-on-mobile{display:none}
.the-impact .visible-on-mobile{display:block}
.accelrate-groth img.desktop{display:none}
.accelrate-groth img.mobile{width:100%;height:auto}
.program-partners h2.heading.pphead span{padding:8px 13px 6px;font-size:17px}
.partner-inner p span{display:block}
.the-impact img.mobile{display:block}
.the-impact img.desktop{display:none}
section.accelrate-groth{background:#fef0e6;padding-bottom:30px}
section.accelrate-groth h2.heading{color:#fff}
section.accelrate-groth h2.heading:after{color:#000}
.accelrate-groth .colleges-benefit{background:#fef0e6;margin-top:100px}
.accelrate-groth ul li{width:100%;font-size:13px;margin-bottom:5px;vertical-align:middle;line-height:14px}
ul.navbar-nav.ml-auto{margin-left:0!important;overflow:auto;width:100%;height:570px}
nav.navbar.navbar-expand-lg a.navbar-brand img{z-index:999;position:relative;height:38px;top:10px}
.header-design img{margin-right:20px;height:102px;margin-bottom:0}
h1.author span{font-size:17px;line-height:1.3em}
section.ts-platform{padding-bottom:20%;padding-top:12%}
p.cpy-txt{padding-bottom:20px;padding-top:50px;text-align: center;}
span.hamburger-menu.navbar-toggler{display:none!important}
span.hamburger-menu.navbar-toggler.mobtog{display:block}
ul.navbar-nav li.nav-item.mobmenulink{display:block}
ul.social-network.social-circle{display:none}
header.cd-auto-hide-header.sticky ul.navbar-nav.ml-auto{padding-top:0;padding-bottom:20px}
nav.navbar.navbar-expand-lg{width:100%}
.testimonial-box{width:100%;float:none;display:inline-block;background:#ffffffeb;margin:0;box-shadow:0 0 11px 0 #ddd;padding:15px;border-radius:10px;margin-bottom:26px}
.topbar{padding:7px 21px}
.dropdown-menu1 ul.dropdown-menu li img.free-sticker-menu{margin-top:6px}
.col-md-4.offset-2{margin-left:0}
.dropdown-menu1 h3{font-size:20px;border-bottom:0 solid #bfbfbf;padding-bottom:0;margin-bottom:0;border-top:1px solid #ddd;padding-top:20px}
img.nps-completion-rate{height:auto}
img.deeptalk-bg{display:none}
img.video-thumb1{margin-bottom:20px}
section.deeptalk-sec{padding:6% 0 25%}
br.hidden-xs{display:none}
.program-card-inner{min-height:auto!important;padding-bottom:10px}
p a.know_more.para_link{position:inherit}
img.aipm-suited-icon{margin-bottom:80px!important}
.program_title{font-size:20px;margin-top:10px}
.row1 ul.list-inline.week_block{min-height:auto}
.row2 ul.list-inline.week_block{min-height:auto}
.top-content-sec{min-height:auto!important}
p.suited img{margin-bottom:31px}
.banner_contain{background:url(../images/deeptech-header-mob.jpg);background-size:cover;min-height:680px;width:100%;margin:0}
.compelling-deeptech{padding:10% 0}
.community-deeptech{padding:10% 0}
.continued-deeptech .col-md-6 img{float:none;height:75px}
.continued-inner{margin-top:0}
img.program-partner-logo{height:52px}
ul.social-profiles{float:left;margin-top:50px;padding:0}
h1.author{margin-top:20px;margin-bottom:0;font-size:22px}
img.certificate{height:auto;width:100%}
.entry .body p.timeline-label{margin-left:28px}
.entry .body p.timeline-label:before{left:38px}
.entry .body h3{margin-left:10px}
.entry .body p{margin-left:10px}
.social-icons-sec{float:right;width:100%;text-align:right!important;position:relative;right:30px;top:-110px}
.linkedin{background:#fff}
.compelling-deeptech{width:100%;margin:0}
#program{width:100%;margin:0}
img.partner-logo{height:46px;position:absolute;right:0;top:10px}
.partner-section{padding:4px 0 10px}
img.error-page {
    width: 100%;
    height: auto;
    margin: 40px 0 0 0;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
body{overflow-x:hidden}
.navbar-expand-lg .navbar-nav .nav-link{padding-right:.2rem!important;padding-left:.2rem!important}
h1.main_title{padding:0;font-size:37px}
.program_title br{display:none}
h1.main_title br{display:none}
h3.sub_title br{display:none}
img.header-right-img{height:310px;float:left;top:20px}
img.header-right-graph{bottom:105px;height:340px}
.ts-platform-features ul li{width:43%}
.platform-sec-right img{height:309px;right:-20px;top:inherit;bottom:80px}
.ts-platform-features{padding-bottom:30px}
.news-inner h4{font-size:16px}
.awards-section ul li{width:15%}
.dropdown-menu2 ul.dropdown-menu.show{padding-left:15px;padding-right:15px;width:100%;border:0;text-align:left}
.the-impact .hide-on-mobile{display:block}
.the-impact .visible-on-mobile{display:none}
section.accelrate-groth{background:#fef0e6;padding-bottom:60px}
section.accelrate-groth h2.heading:after{color:#000}
.accelrate-groth .colleges-benefit{background:#fef0e6;margin-top:80px}
.accelrate-groth ul li{width:45%;font-size:14px;margin-bottom:5px;vertical-align:top;margin-left:7px;margin-right:7px;padding:12px}
section.program-partners ul li{display:inline-block;padding:18px 7px;text-align:center;width:auto}
.banner_contain p{padding-bottom:30px}
.navbar-brand{padding:0}
.menuleft{width:49%}
.dropdown-menu1 .dropdown-menu{left:-363px!important;width:884px!important}
ul.dropdown-menu.hybrid{left:-200px!important;width:370px!important}
.dropdown-menu1 ul.dropdown-menu li img{float:left;height:32px;padding-right:8px;position:relative;top:0;margin-bottom:1px}
.partner-institution{font-size:11px}
.dropdown-menu1 h3{padding-bottom:5px;margin-bottom:7px;padding-top:5px}
.dropdown-menu1 ul.dropdown-menu li p{padding-bottom:0;margin-bottom:0}
.dropdown-menu1 li.empty-list h3{margin-left:15px}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.navbar-toggler{border:1px solid #f75800;border-radius:.25rem;display:block;position:relative;right:0;float:right;top:17px}
.hamburger-menu{right:40px;top:3px;border:none!important}
.banner_contain h3.sub_title{font-size:20px}
header.cd-auto-hide-header .navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:url(/misc/TS-Website/TSnew-2019/images/menu-button.svg);background-size:100% 100%}
.navbar-brand{padding:5px 0}
ul.navbar-nav li.nav-item{text-align:left!important}
.navbar-collapse{padding-top:0;padding-right:0}
.dropdown-menu1 .dropdown-menu{left:0;width:100%;overflow-y:scroll}
.navbar-nav{float:left;padding-top:0;width:100%}
.nav-link{float:right}
.banner_contain{margin-top:0}
.dropdown-menu1 .dropdown-menu{padding:0}
.dropdown-menu1 h3{padding-bottom:6px;margin-bottom:6px;padding-top:9px}
.dropdown-menu1 li.empty-list h3{margin-left:15px}
h1.main_title{padding:4% 0 20px;font-size:24px}
.banner_contain h3.sub_title br{display:none}
img.header-right-img{height:250px;float:left;top:10px;left:-70px}
h1.main_title br.hidden-xs{display:none}
.program_title{font-size:17px}
.program_title br{display:none}
p.duration{font-size:12px}
.list-inline li{padding:1px 0;font-size:11px}
p.suited img{margin-right:0;height:16px;float:none;margin-top:4px;margin-bottom:0!important;display:block}
.container{width:96%;max-width:96%}
img.header-right-graph{bottom:-80px;height:270px;float:right;right:0}
.ts-platform-features ul li{width:48%}
section.ts-platform p{padding-right:0}
.platform-sec-right img{height:220px;right:0;bottom:50px;top:inherit}
.ts-platform-features{padding-bottom:30px}
.news-inner h4{font-size:14px}
br.visible-sm{display:block}
.dropdown-menu1 ul.dropdown-menu li{padding:2px 15px}
.dropdown-menu1 ul.dropdown-menu li img{float:left!important}
.dropdown-menu1 ul.dropdown-menu li img.free-sticker-menu{float:none!important;margin-top:-2px}
br.hidden-sm{display:none}
img.news-logo{height:auto;padding-top:5px;width:100%}
.awards-section ul li{width:14%}
.the-impact .hide-on-mobile{display:none}
.the-impact .visible-on-mobile{display:block}
.disruptive-technologies .dt-cnt p{font-size:15px}
section.accelrate-groth{background:#fef0e6 url(../images/companies-bg.png);padding-bottom:50px;background-size:cover}
.news-inner{margin:10px 0;padding:15px 6px 5px;min-height:165px}
.dropdown-item{white-space:inherit}
.companies-bg{display:none}
section.accelrate-groth h2.heading:after{color:#000}
.accelrate-groth .colleges-benefit{background:#fef0e6;margin-top:70px;padding-top:23px}
.accelrate-groth ul li{font-size:14px;margin-bottom:5px;vertical-align:top;margin-left:7px;margin-right:7px}
section.program-partners ul li{display:inline-block;padding:20px 10px;text-align:center;width:32%}
.sidenav .nav-link{float:none}
nav.navbar.navbar-expand-lg{padding-right:0;display:block}
.collapse:not(.show){display:none!important}
nav.navbar.navbar-expand-lg{padding-right:0;padding-left:0;width:100%;float:left}
header.cd-auto-hide-header.sticky nav.navbar.navbar-expand-lg a.navbar-brand img{height:65px}
ul.social-network.social-circle{display:none}
header.cd-auto-hide-header.sticky ul.navbar-nav li.nav-item{padding-top:0}
header.cd-auto-hide-header{background:#fff;padding-top:0;position:fixed;width:100%;z-index:999;min-height:90px}
.banner_contain{padding-top:30px;position:relative}
.banner_contain{padding-bottom:5%;background:url(../images/deeptech-header.jpg);background-size:cover;background-position:930px 560px}
continued-deeptech .col-md-6 img{float:none;height:95px}
.banner_contain p{padding-right:0}
span.hamburger-menu.navbar-toggler{display:none}
ul.navbar-nav li.nav-item.mobmenulink{display:block}
.nav-link{float:left}
.dt-cnt{padding:15px}
.navbar-nav li.nav-item span.partner-institution br{display:none}
.partner-institution{font-size:9px;margin-top:0}
.dropdown-menu1 ul.dropdown-menu li a br{display:none}
.dropdown-menu1 ul.dropdown-menu li img{height:30px;padding-right:7px;top:0;margin-bottom:0}
.menuleft{width:49%}
img.about-pgm-img{height:160px;margin-top:20px}
img.program-partner-logo{height:105px}
}
@media only screen and (min-device-width: 414px) and (max-device-width: 812px) and (orientation : landscape) {
header.cd-auto-hide-header .navbar-toggler-icon{display:inline-block;width:24px;height:24px;vertical-align:middle;content:"";background:url(/misc/TS-Website/tsnew-2020/images/menu-button.svg);background-size:100% 100%}
.hamburger-menu{display:none}
.navbar-toggler{border:1px solid #f75800;border-radius:.25rem}
ul.navbar-nav li.nav-item{text-align:center}
.navbar-collapse{padding:0}
.dropdown-menu1 .dropdown-menu{left:-101px;position:relative;width:100%;margin-top:33px;box-shadow:none;border:0}
header.cd-auto-hide-header.sticky ul.navbar-nav li.nav-item{padding-top:0}
.nav-link{float:left;padding:5px 1rem!important}
h1.main_title{padding:0;font-size:42px}
h3.sub_title{font-size:19px}
.banner_contain h3.sub_title br{display:none}
img.header-right-img{height:360px;float:left}
img.header-right-graph{height:225px;bottom:120px}
.ts-platform-features ul li{width:49%}
section.ts-platform p{padding-right:0}
.platform-sec-right img{height:262px;float:right;right:24px;position:relative}
.ts-platform-features{padding-bottom:30px}
.news-inner h4{font-size:15px}
img.news-logo{height:28px;padding-top:5px}
.awards-section ul li{width:14%}
.dt-inner{margin-bottom:20px}
p.cpy-txt{padding-top:0}
.nav-item .visible-on-mobile{display:inline-block;font-size:12px!important;padding:6px!important}
.disruptive-technologies .dt-cnt h3{font-size:19px;font-weight:600}
.program-partners h2.heading.pphead{margin-bottom:30px}
section.accelrate-groth{padding-bottom:20px;background-color:#fef0e6}
section.accelrate-groth h2.heading{color:#fff;font-size:33px;padding-bottom:30px;margin-bottom:0}
.college-sticker{margin-top:54px}
section.accelrate-groth h2.heading:after{color:#fff;background:#ff7633;display:none}
.accelrate-groth .colleges-benefit{background:#fef0e6;margin-top:-20px}
.accelrate-groth ul li{width:auto;font-size:14px;margin-bottom:5px;vertical-align:top}
.accelrate-groth img.desktop{display:none}
.hamburger-menu{right:0!important;border:none!important;margin-top:-70px}
.navbar-toggler{border:1px solid #f75800;border-radius:.25rem;display:block;position:relative;right:0;float:right;top:12px}
.sidenav .nav-link{padding:8px 8px 8px 32px;text-decoration:none;font-size:16px;color:#000;display:block;transition:.3s;float:none}
.sidenav{padding-top:60px}
.sidenav-socialicon img{width:31px;height:auto;display:inline;margin:4px;float:left}
section.program-partners ul li{display:inline-block;padding:18px 10px;text-align:center;width:32%}
nav.navbar.navbar-expand-lg{display:block;margin-bottom:0;padding-right:0}
.navbar-brand{padding:0}
header.cd-auto-hide-header{background:#fff;position:fixed;top:0;width:80%;box-shadow:0 0 10px 0 #4a4a4a24;z-index:999;padding:0}
header.cd-auto-hide-header.sticky{min-height:60px;padding:0}
img.partner-logo{height:48px}
.partner-section h3{margin-top:20px}
.entry .body p.timeline-label:before{left:23px}
.header-design img{margin-right:20px}
header.cd-auto-hide-header.sticky nav.navbar.navbar-expand-lg{padding:5px}
ul.social-network.social-circle{display:none}
ul.navbar-nav li.nav-item{font-size:15px;padding-top:0}
.banner_contain{padding-top:7%}
nav.navbar.navbar-expand-lg a.navbar-brand img{height:55px}
span.hamburger-menu.navbar-toggler{display:none}
ul.navbar-nav li.nav-item.mobmenulink{display:block}
.collapse:not(.show){display:none!important}
h1.main_title br{display:none}
nav.navbar.navbar-expand-lg{width:100%;padding:5px}
section.news-section .col-md-4{width:33%}
.news-inner{margin:11px 5px;padding:15px;min-height:180px}
footer .col-md-2{-ms-flex:0 0 19.666667%;flex:0 0 32.666667%;max-width:32.666667%}
.dropdown-menu1 .dropdown-menu{left:-23px!important;position:absolute;width:660px!important;padding-bottom:50px;margin-top:0}
.menuleft{width:48%}
.dropdown-menu1 ul.dropdown-menu li a{font-size:13px}
.partner-institution{font-size:8px}
.dropdown-menu1 h3{padding-bottom:6px;margin-bottom:6px;padding-top:6px}
.dropdown-menu1 ul.dropdown-menu li img{height:30px;padding-right:6px;position:relative;top:0;margin-bottom:5px}
.ml-auto,.mx-auto{overflow:auto}
}
@media only screen and (min-width :992px) {
ul.dropdown-menu.hybrid{left:-200px!important;width:370px!important}
}
@media only screen and (min-width :1200px) and (max-width :1270px) {
section.program-partners ul li{padding:18px 5px}
.partner-inner img{height:88px}
img.header-right-img{width:auto;height:400px;float:right;left:-140px}
img.header-right-graph{bottom:-60px;height:340px}
.deeptech-inner p{font-size:15px}
.dropdown-menu1 .dropdown-menu{left:-533px}
}
@media only screen and (min-width :1280px) and (max-width :1290px) {
section.program-partners ul li{padding:18px 10px}
img.header-right-graph{position:absolute;right:0;bottom:-60px;height:370px}
.deeptech-inner p{font-size:15px}
.entry .body p.timeline-label:before{left:40px}
.timeline:before{bottom:230px}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1100px) and (orientation : portrait) {
.navbar-expand-lg .navbar-toggler{display:block}
.navbar-nav{float:left;padding-top:30px;width:100%;display:flex!important;flex-direction:column!important;list-style-type:none}
.navbar-collapse.collapse.show{display:block!important}
.navbar-expand-lg .navbar-nav .dropdown-menu{left:-98px;position:relative!important;margin-top:46px}
}
@media only screen and (min-device-width : 1440px) {
.college-sticker{margin-top:50px}
}
@media only screen and (min-width :1800px) {
.timeline:before{bottom:180px}
.entry .body p.timeline-label:before{left:64px}
}
@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation : portrait) {
img.about-pgm-img{height:140px}
img.certificate{height:190px}
nav.navbar.navbar-expand-lg a.navbar-brand img{height:32px}
img.partner-logo{height:40px}
}
@media only screen and (min-width: 411px) and (max-height: 823px) and (orientation : portrait) {
	.social-icons-sec {right: 50px;}
}
