<section class="popup-box" id="{{popup_id}}" style="display:none;background: #fff; padding: 20px;">

    <header class="popup-header1">
        <h2 style="color:#000;text-align:center;">{{data['name']}}</h2>
	<a class="modal_close" href="#"></a>
    </header>
    <div id = "{{popup_id}}_div_id"></div>
    <p style="text-align:left;padding:5px 0px;color:black;font-weight: 600;">{{data['text'] if 'text' in data}}</p>
</section>
<script>
    $("a#" + '{{popup_id}}' + "_li").click(function() {
    $.ajax({ url: "/attendance_report?site=" + '{{org}}',
        success: function(result){
                console.log(result);
                $("#" + '{{popup_id}}_div_id').html(result);
        } });
	});

</script>
