<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html lang="en" dir="ltr"
  xmlns:og="http://ogp.me/ns#"
  xmlns:article="http://ogp.me/ns/article#"
  xmlns:book="http://ogp.me/ns/book#"
  xmlns:profile="http://ogp.me/ns/profile#"
  xmlns:video="http://ogp.me/ns/video#"
  xmlns:product="http://ogp.me/ns/product#"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:sioc="http://rdfs.org/sioc/ns#"
  xmlns:sioct="http://rdfs.org/sioc/types#"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#"> 

<!DOCTYPE html>
<html lang="en">
<head>
<style>
.col-md-5.right-heading {
    text-align: right;
}
</style>
<a class="navbar-brand" href="https://www.talentsprint.com"><img src="/static/logo.png" alt="Talentsprint"></a>
</head>
<section class = "invalid_details">
<div class = "row">
<div class="col-md-7 left-heading">
<h4>{{err}}</h4></div>
<div class="col-md-5 right-heading">
    
      <img src="https://talentsprint.com/misc/page-not-found/images/error-404.png" class="error-page">
    
</div>
</div>
</section>

</html>
