<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <style>
        .container {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        #logo_img {
            height: 40px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        ul {
            list-style: none;
            padding: 0px;
            width: 95%;
            cursor: pointer;
        }
        ul {
            list-style: none;
            width: 95%;
            cursor: pointer;
        }
    
        ul li {
            display: inline-block;
            padding: 10px;
        }
    
        ul.tabs li {
            color: #0075b4;
            font-size: 16px;
            cursor: pointer;
            padding: 10px 24px;
            font-weight: 600;
        }
    
        .sheet_table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            /* width: 60%; */
        }
    
        .sheet_table td {
            border: 1px solid #ddd;
            padding: 8px;
        }
    
        .sheet_table th {
            border: 1px solid #ddd;
            padding: 8px;
        }
    
        .sheet_table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    
        .sheet_table tr:hover {
            background-color: #ececff;
        }
    
        .sheet_table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #6c7ae0;
            color: white;
        }
    
        .sheet_table td {
            width: 23%;
        }
    
        .sheet_table tr td:first-child {
            width: 1%;
        }
        ul.tabs li:hover {
            border-bottom: 3px solid #3775b4;
        }
        .active {
            color: black !important;
            border-bottom: 3px solid #0075b4;
            pointer-events: none;
        }
         .table_div {
            max-height: 740px;
            overflow-y: scroll;
            width: 65%;
            /* max-width: 100%; */
        
        }
        thead {
            top: -1px;
            position: sticky;
        } 

        @media screen and (max-width:480px) {
            .table_div {
                max-height: 600px;
                overflow-y: scroll;
                width: 95%;
            }
            .container {
                width: 95%;
            }
            ul li {
                display: inline-block;
            }
            ul.tabs li {
                padding: 14px 24px;
            }
            
            
        }
        @media screen and (min-width:767px) and (max-width:1025px) {
            .table_div {
                max-height: 600px;
                overflow-y: scroll;
                width: 75%;
            }
            .container {
                width: 100%;
            }
        }
        @media screen and (min-width:1535px) and (max-width:1537px) {
            .table_div {
                max-height: 530px;
                overflow-y: scroll;
                width: 75%;
            }
            
        }
  </style>
  
</head>
<body>
	<div class="container">
        <img  id="logo_img" src="https://we.talentsprint.com/images/talentsprintwe-logo.png"> 
        
        <br>
        <center>
            <h2>Leaderboard</h2>

            <ul class="tabs">
                {%for key, value in data.items()%}
                <li class="{{key.replace(' ', '')}}" id="{{key.replace(' ', '')}}">{{key}}</li>
                {%endfor%}
            </ul>

            <div class="table_div">
                {%for key, value in data.items()%}
                    <table class="{{key.replace(' ', '')}} sheet_table"  border="1" style="display: none;">
                    
                    <thead>
                        <tr>
                            {%for key,value in value[0].items() %}
                            <th>{{key}}</th>
                            {%endfor%}
                        </tr>
                    </thead>
                    
                    <tbody>
                        {%for i in value %}
                        <tr>
                            {%for key,value in i.items() %}
                                {% if value==None %}
                                    <td>-</td>
                                {% elif key=="Rank" %}
                                  <td>{{(value)|int}}</td>
                                {% else %}
                                    <td>{{value}}</td>
                                {% endif %}
                            {%endfor%}
                        </tr>
                        {%endfor%}
                    </tbody>

                    </table>
                {%endfor%}
            </div>

        </center>
    </div>

    <script src="https://talentsprint.com/misc/TS-Website/v20/js/jquery.min.js"></script>
    <script>
      $(document).ready(function () {

          if($(".tabs").children("li").length == 1){
            $(".tabs").children("li").hide()
          }

          table_class = $("ul li:first").attr("class");
          $("ul li:first").addClass("active");
          $("table." + table_class).show();
          $("ul.tabs li").click(function () {
              
              table_class = $(this).attr("class");
              $("table." + table_class).show();
              $("table")
                  .not("." + table_class)
                  .hide();
              $(this).addClass("active").siblings().removeClass("active");
              
          });
          
      });
    </script>
  
</body>
</html>
