<!DOCTYPE html>
<html>
        <head>
                 <title>Processed Logs</title>
        </head>
        <body>
                {% for i in logs %}
                <p>     {{i}}</p>
                {% endfor %}


        </body>
</html>

