<section class="popup-box" id="{{popup_id}}" style="display:none;background: #fff; padding: 20px;">

    <header class="popup-header1">
        <h2 style="color:#000;text-align:center;">{{data['name']}}</h2>
        <a class="modal_close" href="#"></a>
    </header>
    <div id = "{{popup_id}}_div_id"></div>
</section>
<script>
    $.ajax({ url: "/extras/get_calendar_events",
        success: function(result){
                console.log(result);
                $("#" + '{{popup_id}}_div_id').html(result);
        } });

</script>
