<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google Tag Manager --> 
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W4FZMR');
</script>
<!-- End Google Tag Manager -->	
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{data['name']}} TalentSprint Alumni Project Portfolio | {{data['program_name']}}</title>
<meta name="description" content="The program most trusted by experienced professionals. Interactive Live Online Program with hands-on labs, mentorship, hackathons, and workshops and more. For details, visit https://iiit-h.talentsprint.com/aiml/" />
<meta name="keywords" content="aiml hyd program, aiml intensive program" />
<meta property="og:title" content="{{data['name']}} TalentSprint Alumni Project Portfolio | {{data['program_name']}}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://cdn.talentsprint.com/portfolios/certificates/resized_certificates/{{data['program_code']}}/{{rid}}-PG.jpg" />
<meta property="og:url" content="https://cdn.talentsprint.com/portfolios/{{data['program_code']}}/{{rid}}.jpg" />

<meta property="og:description" content="The program most trusted by experienced professionals. Interactive Live Online Program with hands-on labs, mentorship, hackathons, and workshops and more. For details, visit https://iiit-h.talentsprint.com/aiml/" />
<meta property="og:site_name" content="TalentSprint" />
<meta name="twitter:title" content="{{data['name']}} TalentSprint Alumni Project Portfolio | Advanced Certification Program in AI/ML">
<meta name="twitter:description" content="The program most trusted by experienced professionals. Interactive Live Online Program with hands-on labs, mentorship, hackathons, and workshops and more. For details, visit https://iiit-h.talentsprint.com/aiml/" />
<meta name="twitter:image" content="https://cdn.talentsprint.com/portfolios/certificates/resized_certificates/{{data['program_code']}}/{{rid}}.jpg">
<meta name="twitter:site" content="TalentSprint">
<meta name="twitter:creator" content="TalentSprint">
<meta name="theme-color" content="#f2631f">
<link rel="shortcut icon" href="//www.talentsprint.com/misc/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" href="./static/css/bootstrap.min-22.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
<link rel="manifest" href="https://www.talentsprint.com/manifest.json">
<link rel="stylesheet" href="./static/css/style-new-22.css">
<link rel="stylesheet" href="./static/css/responsive-22.css">
<style>
/*
img.about-pgm-img {
    height: 470px;
    margin-top: 20px;
    width: auto;
    margin: auto;
    display: block;
}*/
img.certificate {
    height: 600px;
    margin-top: 10px;
    margin: auto
}  
.capstong-project ol li {
    font-size: 16px;
    line-height: 2;
} 
img#ug-certificate {
        width: 479px;
        height: 631px;
        max-width: 600px;
        margin-top: -7px;
    }   
</style>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4FZMR"
height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) --> 	
<div class="linkedin">
  <header class="cd-auto-hide-header">
    <div class="container">
    <nav class="navbar navbar-expand-lg justify-content-between"> <a class="navbar-brand" href="https://www.talentsprint.com"><img src="./static/images/logo-edited.png" alt="Talentsprint"></a>
<!--        <img src="/misc/alumni-profile/images/partner-logo.png" class="partner-logo">-->
<div class="social-icons-sec menu-social">
   
            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">          <p>Share</p><a class="a2a_button_linkedin" href=""><img src="./static/images/linkedinlogo.png" class="linkedinlogo"></a></div>
        </nav>
    </div>
  </header>
  <div class="banner_contain">
    <div class="header-design">
      <div class="container">
        <div class="row">
          <div class="col-md-2"> <img src="https://cdn.talentsprint.com/portfolios/profile_images/{{data['program_code']}}/{{rid}}-PG.png" class=""> </div>
          <div class="col-md-6">
          <h1 class="author">{{ data['name'] }}</h1>
          {% if (data['designation'] != 'NA' and data['company_name'] != 'NA') and (data['designation'] != '' and data['company_name'] != '')%}
            <p>{{ data['designation'] }}, {{data['company_name']}}</p>
           {%endif%}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="clearfix"></div>
        <div class=" partner-section">
          <div class="col-md-2"></div>
          <div class="col-md-6">
            <h3> {{ data['program_name'] }}<br>
                <span>{{ data['cohort#'] }}</span></h3>
          </div>
          <div class="col-md-4"> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"><p class="text-center"> <img src="https://cdn.talentsprint.com/portfolios/certificates/{{data['program_code']}}/{{rid}}.jpg" class="certificate img-responsive" id = "ug-certificate"></p> </div>
	 <div class="col-md-6"><p class="text-center"> <img src="https://cdn.talentsprint.com/portfolios/certificates/{{data['program_code']}}/{{rid}}-PG.jpg" class="certificate img-responsive" id="pg-certificate"></p> </div>
      </div>
    </div>
  </div>
  <section class="compelling-deeptech" id="platform">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading">My Projects</h2>
          		{% for i in data['project_list']%}
          		<div class="capstong-project">
				<h4>{{i |  safe}}</h4>
          			{{ data['project_description'][i]  | safe}}
          			</div>
          		{%endfor%}
        </div>
      </div>
    </div>
  </section>
  <section class="" id="program">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading">About Program</h2>
          	{{data['about_program'] | safe}}
		{% if data['program_code'] != "AIML"%}
          	<img src="https://cdn.talentsprint.com/portfolios/about_program/{{data['program_code']}}.jpg" class="about-pgm-img"> </div>
		{%else%}
		<img src="https://portfolios.talentsprint.com/aiml/static/images/about-program-img.png" class="about-pgm-img"> </div>
      		{%endif%}
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row cpy-txt-row">
	
        <div class="col-md-6">
          <p class="cpy-txt">© <span id="year"></span> TalentSprint</p>
        </div>
		    <div class="col-md-6 social-icons">
<div class="social-icons-sec">
<p>Share</p>
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_button_linkedin" href="https://talentsprint.com/pages/wip/ts-website/certificate/"></a>
	<a class="a2a_button_twitter" href="https://talentsprint.com/pages/wip/ts-website/certificate/"></a>
<a class="a2a_button_facebook" href="https://talentsprint.com/pages/wip/ts-website/certificate/"></a>
<a class="a2a_button_email" href="https://talentsprint.com/pages/wip/ts-website/certificate/"></a>
<a class="a2a_button_whatsapp" href="https://talentsprint.com/pages/wip/ts-website/certificate/"></a>

	<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
				</div></div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END --></div>
      </div>
    </div>
  </footer>
</div>
<script src="./static/js/jquery.min.js"></script> 
<script src="./static/bootstrap.min.js"></script> 
 
<script>
$('#year').html(new Date().getFullYear());
  $(window).scroll(function(e) {
    // add/remove class to navbar when scrolling to hide/show
    var scroll = $(window).scrollTop();
    if (scroll >= 100) {
        $('.cd-auto-hide-header').addClass("sticky");
    } else {
        $('.cd-auto-hide-header').removeClass("sticky");
    }
});
</script>
</body>
</html>
