<!DOCTYPE html>
<html>
<head>
<style>

#meeting_id{
display: none;
}
.heading{
        text-align: center;
    font-weight: 400;
}
.poll_form {
    background: #add8e6a6;
    width: 75%;
    margin: auto;
    padding: 10px 0px;
    border-radius: 10px;
}
.form-control {
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 30px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 9px;

}
.submit_btn {
    width: 30%;
    display: block;
    color: #fff;
    margin: auto;
    background-color: #ff6600;
    border-color: #ff6600;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: 10px 10px;
    font-size: 22px;
    border-radius: .25rem;
}   

.success{
font-size: 18px;
text-align:center;
color: green;
}

.alert{
font-size: 18px;
text-align:center;
color: red;


}
</style>
</head>
<body>
             <p> <h1 class="heading">Create Poll in </h1></p>
        <!--    <p class = "alert">The poll will reflect in <strong>ONGOING</strong> meeting in the Virtual classroom </p>              -->
                <p class="success">{{message}}</p>
                <form action="/poll?meeting_id={{meeting_id}}" method = "post" class = "poll_form">
                        <input placeholder="Title" class = "form-control" name = "title" required>
                        <textarea name = "question" class = "form-control" placeholder="Enter Your Question" rows="4" cols="50" required></textarea>
                        <p style = "text-align:center">
                                <input type="radio" class = "question_type" name = "question_type" value = "single" required><label>Single Choice<label>
                                <input type="radio" class = "question_type" name = "question_type" value = "multiple"><label>Multiple Choice<label>
                        </p>
                        <input type = "text" class = "form-control" id = "meeting_id" value = "{{meeting_id}}" name = "meeting_id">


                        <input type = "text"  placeholder="Answer 1" class = "form-control" name = "option" required>
                        <input type = "text"  placeholder="Answer 2" class = "form-control" name = "option" required>
                        <input type = "text"  placeholder="Answer 3 (Optional)" class = "form-control" name="option">
                        <input type = "text"  placeholder="Answer 4 (Optional)" class = "form-control" name="option">
                        <input type = "text"  placeholder="Answer 5 (Optional)" class = "form-control" name="option">
                        <input type = "text"  placeholder="Answer 6 (Optional)" class = "form-control" name="option">
                        <input type = "text"  placeholder="Answer 7 (Optional)" class = "form-control" name="option">
                        <input type = "text"  placeholder="Answer 8 (Optional)" class = "form-control" name="option">
                        <input type = "text"  placeholder="Answer 9 (Optional)" class = "form-control" name="option">
                        <input type = "text"  placeholder="Answer 10 (Optional)" class = "form-control" name="option">

                        <br><br>
                        <input type="submit" value="Create Poll" class = "submit_btn">
                </form>

        </body>
</html>

