<section class="popup-box" id="{{popup_id}}" style="display:none;background: #fff; padding: 20px;">

    <header class="popup-header1">
        <h2 style="color:#000;text-align:center;">{{data['name']}}</h2>
        <a class="modal_close" href="#"></a>
    </header>
    <div class="{{popup_id}}_div_id" style="line-height: 45px;">
        <ul>
            {%for name, url in data['links'][0].items() %}
                <li><a href="{{url}}" target="_blank">{{name}}</a></li>
            {%endfor%}
        </ul>
    </div>
</section>
<script>
	$("#"+'{{popup_id}}'+"_li").click(function () {
		if ($(window).width() < 600) {
			if ($("#" + '{{popup_id}}').css("display") === "block") {
				console.log("Yes");
				$("#lean_overlay").css("display", "none");
			} else {
				$("#lean_overlay").css("display", "block");
			}
		}
	});
</script>
