<section class="popup-box" id="{{popup_id}}" style="display:none;">

    <header class="popup-header1">
        <h2 style="color:#000"></h2>
        <a class="modal_close need_help_close" href="#"></a>
    </header>
    <img src="{{data['link']}}" style="height: 450px;margin-left:auto;margin-right:auto;"/>
</section>
