{% if quicklinks %}
	{% for i in quicklinks %}
	    {% set popup_id = i['name'].strip().replace("-", "_").replace(" ", "_").replace("?", "").replace("!", "").replace("'", "") | lower %}
	    {% if  i['type'] == 'new-tab' %}
		<li class="quick-link" id="{{popup_id}}_li" ><a href="{{i['link']}}" target="_blank">{{i['name']}}</a></li>
	     {%elif i['type'] == 'textbased'%}
	     	<li class="quick-link"><a href="#{{popup_id}}" id = "{{popup_id}}_li" rel="leanModal" >{{i['name']}}</a></li>
                {% with org = org, data = i, popup_id = popup_id%}
                    {% include i['type'] + ".html" %}
                {%endwith%}
	    {%elif i['type'] == 'alma' and alma_url %}
	    	<li class="quick-link" id="{{popup_id}}_li" ><a href="{{alma_url}}" target="_blank">{{i['name']}}</a></li>
	    {%elif i['type'] != 'alma'%}
		<li class="quick-link"><a href="#{{popup_id}}" id = "{{popup_id}}_li" rel="leanModal" >{{i['name']}}</a></li>
		{% with org = org, data = i, popup_id = popup_id %}
		    {% include i['type'] + ".html" %}
		{%endwith%}
	    {%endif%}
	{%endfor%}
{%endif%}
<script>
	 $('a[rel*=leanModal]').leanModal({top : 50, overlay : 0.6, closeButton: ".modal_close" });
</script>
