<section class="popup-box" id="{{popup_id}}" style="display:none;background: #fff; padding: 20px;">

    <header class="popup-header1">
	    <h2 style="color:#000;text-align:center;padding-top: 15px;">{{data['text']}}</h2>
            <a class="modal_close text_pop_close" href="#"></a>
    </header>
</section>
