
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid #b1afaf;
  border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
h2{text-align : center;}
.create-close td{border:none;}
#close{
    border-radius: 3px;
    text-decoration: none;
    background: #ff0000;
    color: #fff;
    padding: 5px;
}
.create-poll {
    text-decoration: none;
    background: #ff6600;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    display: block;
    width: 15%;
    margin-top: 20px;
}   
</style>
</head>
<body>
<a href = "https://cdn.exec.talentsprint.com/app/searchMeeting">Back</a>
<h2>Meeting Details</h2>
{% if "message" in zoom_details %}
        <p style="text-align: center;">{{zoom_details.message}}</p>
{% else %}

<table style="width:60%; margin: auto;">
  <tr>
    <td><strong>Meeting Id</strong></td>
    <td>{{zoom_details.id}}</td>
  </tr>
  <tr>
    <td><strong>Topic</strong></td>
    <td>{{zoom_details.topic}}</td>
  </tr>
  <tr>
    <td><strong>Host</strong></td>
    <td>{{zoom_details.settings.contact_email}}</td>
  </tr>  
<!--
   <tr class="create-close">
    <td>
        <button class="close_modal">Close</button>
       </td>
    <td></td>

  </tr>  
-->
</table>
    <a class="create-poll" href="https://cdn.exec.talentsprint.com/app/poll?meeting_id={{zoom_details.id}}">Create Poll</a> 
{% endif %}
</body>
</html>
