<!DOCTYPE html>
<head>
<style>
.heading{text-align: center; font-size: 30px; margin-bottom: 53px; font-weight: 400}
table.zoom_rooms {
    border-collapse: collapse;
    margin: auto;
    /*width: 80%;*/

}
table.zoom_rooms tr td {
border: 2px solid #dedede;
padding: 25px 50px;
color:#0078b0;
}
a.join_meeting:hover, a.create_poll:hover {
    background: #126f9a;
    color: #fff;
}
a.join_meeting {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #0078b0;
    background-color: #fff;
    border-color: #007bff;
    border: 1px solid;
}
a.create_poll {
    color: #0078b0;
    background-color: #fff;
    border-color: #ffc107;
    border: 1px solid;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

img.poll-icon {
height: 30px;
position: relative;
left: 10px;
top: 9px;

}

td.room_name{font-size: 18px; font-weight: 700;}
</style>
</head>
<body>
<h3 class="heading">Virtual Classrooms</h3>
<table class = "zoom_rooms">
{% for room in zoom_rooms %}
	<tr>
		 <td class="room_name">{{room.name}} </td>
		<td>
			<!-- <a class="join_meeting" href = "https://iimc.ipearl.ai/extras/join_zoom_meeting?meeting_id={{room.meeting_id}}" target = "_balnk">Enter</a> -->
			<a class="join_meeting">Enter</a>
		{% if is_staff %}
			<!-- <a href="https://cdn.iimc.talentsprint.com/app/poll?meeting_id={{room.meeting_id}}"> <img src="https://cdn.iimc.talentsprint.com/app/static/images/poll.png" class="poll-icon"> </a>  -->
		{% endif %}
</td>

</tr>

{% endfor %}
</table>
</body>

